/*------------------------------------ GENERAL WORKSPACE ------------------------------------*/
/*------------------------------------
# LEFT SIDEBAR
------------------------------------*/
/*------------------------------------
# MAIN EDITOR
------------------------------------*/
/*------------------------------------
# RIGHT SIDEBAR
------------------------------------*/

/*------------------------------------ COMPONENTS ------------------------------------*/
/*-------------------------
# TYPOGRAPHY
-------------------------*/


/*------------------------------------
# BLOCKS
------------------------------------*/
/* block highlights */
@mixin block_regular {
  //todo
  background-color: transparent;
}
@mixin block_focused {
  //todo
  padding: 0px;
  // background: linear-gradient(
  //   to right,
  //   opacify($palette--theme-darker, 0.2) 5%,
  //   opacify($palette--accent-darker, 0.6) 30%,
  //   opacify($background--block-highlight, 0.5)
  // );
  @include setBorder(opacify($palette--accent-darker, 0.6), 5);
}

@mixin block_selected-main {
  /* selected block in main edit area */
  background-color: $palette--accent-darker;
}
@mixin block_selected-linked {
  /* selected block in linked referenced */
  background-color: var(--block-highlight-bg);
}
@mixin block_selected-embed {
  /* embed block highlight */
  background-color: var(--embed-container-bg);
}
/*------------------------------------
# BIDIRECTIONAL LINKING
------------------------------------*/
@mixin attributes {
  @include font-bold;
}
@mixin tags {
  :hover {
  }
}
@mixin page-links_text {
  color: $palette--accent-lighter;
  &:hover,
  &:focus {
  }
}
@mixin page-links_brackets {
}

@mixin alias_internal {
}

@mixin alias_external {
}

@mixin hyperlink {
  //TODO
}

/* linked/unlinked references */
@mixin linked-ref_menu {
  @include setBorder(setContrast($background--main), 5);
}

/*------------------------------------
# POPUPS
------------------------------------*/
// menus
@mixin popup_menu($focus: none, $hover: none) {
  background-color: $background--popover !important;
  color: setContrast($background--popover);
  @if $focus is not none {
    #{$focus} {
      background-color: $background--popover-hover !important;
    }
  }
  @if $hover is not none {
    #{$hover} {
      background-color: $background--popover-hover;
    }
  }
}
// page filter
@mixin popup_page-filter {
  color: $palette--theme;
  & > &-content {
    // background
    background-color: $background--popover;
    color: setContrast($background--popover);
  }
  & &-arrow {
    &-fill {
      // background
      fill: $background--popover;
    }
    &-border {
      //tiny border
      fill: setContrast($background--popover);
    }
  }
  .bp3-button {
    // tag selection buttons
    background: radial-gradient(
      $background--popover,
      lighten($background--popover, 10%)
    );
    color: setContrast($background--popover) !important;
    &:hover {
      color: $palette--accent !important;
    }
  }
}

@mixin datepicker {
}
/*-------------------------
# FEATURES
-------------------------*/
// code area
// kanban
// table
// datepicker
