/*-------------------------------------  WORKSPACE -------------------------------------*/



/* roam main body */
.roam-main {
  @include main_body;
}

/* topbar */
.roam-topbar {
  @include topbar;
}

/*-------------------------
# BASIC TEXT
-------------------------*/
/* page title */
.rm-title-display {
  @include text_title;
}

/* headings */
.rm-heading-level-1 {
  @include text_heading1;
}
.rm-heading-level-2 {
  @include text_heading2;
}
.rm-heading-level-3 {
  @include text_heading3;
}

/* main text */
*,
#{$rm-block-selector} {
  @include text_body;
}
.rm-bold {
  @include text_bold;
}

.rm-italics {
  @include text_italics;
}
.rm_highlight {
  @include text_highlight;
}
/*------------------------------------
# CHECKBOX
------------------------------------*/
// TODO @include not-done-checkbox
// TODO @include done-checkbox

.checkmark {
  /* todo */
  position: absolute;
  top: var(--checkmark-top);
  left: var(--checkmark-left);
  height: var(--checkmark-height);
  border-radius: var(--checkmark-border-radius);
  width: var(--checkmark-width);
  border: var(--checkmark-border);
  background-color: var(--checkmark-bg-color);
}
.check-container input:checked ~ .checkmark {
  /* done */
  position: absolute;
  top: var(--checkmark-top);
  left: var(--checkmark-left);
  height: var(--checkmark-height);
  border-radius: var(--checkmark-border-radius);
  width: var(--checkmark-width);
  border: var(--checkedmark-border);
  background-color: var(--checkedmark-bg-color);
}
.check-container .checkmark:after {
  /* done check symbol */
  left: 3.5px;
  top: 0.25px;
  width: 6px;
  height: 10px;
  border: var(--checkmark-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(40deg) scale(0.8);
}

/* Fix textareas */
.roam-block,
textarea {
  line-height: 1.5em;
  min-height: 30px;
}

.rm-level1 .roam-block,
.rm-level2 .roam-block,
.rm-level3 .roam-block {
  line-height: 1.5em;
}

.rm-level1,
.rm-level2,
.rm-level3,
.rm-level1 textarea,
.rm-level2 textarea,
.rm-level3 textarea {
  font-size: inherit;
  line-height: 1.5em;
}

/* blockquote */
blockquote {
  font-size: 1.2em;
  border-left: 3px solid var(--blockquote-border-color);
  box-sizing: border-box;
  color: var(--blockquote-font-color);
  margin: 0px 0px 20px;
  min-height: 0px;
  min-width: 0px;
  padding: 10px 20px;
  background-color: var(--blockquote-bg);
  text-align: justify;
  text-justify: inter-word;
}
blockquote .small,
blockquote footer,
blockquote small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: var(--blockquote-cite);
}
.rm-bq {
  /* MD blockquote color, thanks alok and d9ifxw3yev */
  background-color: var(--codemirror-bg);
}
.rm-bq {
  @include blockquote;
}

/*------------------------------------------
# BLOCKS
------------------------------------------*/
/* bullets */
.rm-bullet {
  &__inner {
    /* bullet */
    @include bullet_open;
  }
  .block-border-left {
    /* nesting line */
    @include bullet_nestingline;
  }
}
/* caret */
.rm-caret {
  @include block_caret;
}

/* block highlights */
#{$rm-block-selector} {
  .rm-not-focused {
    @include block_regular;
  }
  .rm-focused {
    @include block_focused;
  }
}
.block-highlight-blue {
  @include block_selected;
}

.rm-highlight {
  /* text highlighting */
  background-color: var(--highlight-background-color);
  color: var(--highlight-font-color);
  border-radius: 0px;
  padding: var(--highlight-padding);
}
.rm-highlight .rm-page-ref-link-color {
  /* highlighted link color */
  color: var(--highlight-link-color);
}
.block-highlight-blue {
  /* block selection */
  background-color: var(--block-highlight);
}
.block-highlight-yellow {
  /* block highlight */
  background-color: var(--block-highlight-bg);
}
.rm-embed-container {
  /* embed block highlight */
  background-color: var(--embed-container-bg);
}
/*------------------------- 
# BIDIRECTIONAL LINKING
-------------------------*/
/* tags */

/* attributes */
.rm-attr-ref {
  @include font-bold;
}

/* page links */
.rm-page-ref {
  &--link {
    @include link--page-text;
  }
  &__brackets {
    @include link--page-brackets;
  }
}
/* aliased links */
@mixin link--internal {
  @include link--page-text;
}

.rm-alias {
  & &--page {
    @include link--alias-internal;
  }
  & &--external {
    @include link--alias-external;
  }
}
/* external links */
a {
  @include link--external;
}

#{$rm-block-selector} {
  a:not(.rm-alias--page) {
    /* only include external direct url and external alias */
    @include glyph(before);
  }
}
/* reference menu */
.rm-reference-main {
  @include setBorder(setContrast($background--main), 5);
}
/* linked references */
.rm-reference-item {
  @include linked-ref;
}
/*---------------------------------- 
    #REFERENCES   
------------------------------------*/
.rm-reference-container .flex-h-box > div:nth-child(3) strong {
  /* "Linked/Unlinked References" reference block header */
  color: var(--reference-header-color);
  border-bottom: 1px solid var(--reference-header-underline-color);
}
.flex-h-box strong[style*="color: rgb(206, 217, 224);"] {
  /* "Linked/Unlinked References" reference block header */
  color: var(--reference-header-color) !important;
  border-bottom: 1px solid var(--reference-header-underline-color);
}
#right-sidebar .flex-h-box > div:nth-child(2) strong {
  /* Right sidebar bold links color */
  color: var(--main-font-color);
}
.rm-reference-item {
  /* footer reference box apperance */

  background-color: var(--reference-item-bg);
  border-radius: var(--reference-item-border-radius);
  border: var(--reference-item-border);
}

/* unlinked references */
// TODO
/* block references */
// TODO
/* block embeds */
// TODO
/* query & queries */
/* Hide query */
.rm-query .rm-query-title {
  display: none;
}
/* mentions */
// TODO
/*------------------------- NAVIGATION COMPONENTS -------------------------*/
/*------------------------------------
# POPUPs
------------------------------------*/
.bp3-menu {
  // code-area language menu
  @include menu;
  .bp3-menu-item {
    color: white;
  }
}
.bp3-elevation-3 {
  // slash menu
  @include menu(".dont-unfocus-block[style*=background]");
}

/*--- Block References ---*/
.rm-block-ref {
  /* linked refs */
  cursor: alias;
  border-bottom: 1px solid var(--block-ref-border-bottom);
}
.rm-block-ref:hover {
  background-color: var(--block-ref-hover-bg);
}

/* page filter */
.bp3-popover {
  // popup title colors
  @include page-filter;
}

/* tool bar */
/* icons & buttons */
[class*="bp3-icon"]::before {
  // TODO separate this for left sidebar, main, right sidebar?
  // all icon color
  color: $palette--white !important;
  :hover {
    color: $palette--accent;
  }
}

/* daily pages */
/* "all pages" page */
.rm-all-pages {
  .rm-pages-title-col {
  }
}
.button-disabled-strong {
  // trash & export icon in "all pages"
  opacity: 1; // override Roam Research settings
}
/* "graph overview" page */
/*------------------------------------ FEATURES ------------------------------------*/

/*---------------------------------- 
# CODE
------------------------------------*/
code {
  /* inline code */
  background: var(--code-bg);
  color: var(--code-font-color);
  border: var(--code-border);
  border-radius: var(--codemirror-border-radius);
}
.CodeMirror {
  /* code block */
  border: 1px solid var(--codemirror-border-color);
  border-radius: var(--codemirror-border-radius);
  background: var(--codemirror-bg) !important;
  color: var(--main-font-color) !important;
}
.Codemirror-code {
  padding-left: 12px !important;
}
div.CodeMirror-selected {
  /* selected color */
  background: var(--block-highlight) !important;
}
.CodeMirror-gutters {
  background: var(--bg-color);
  padding-right: 12px;
  border-right: 1px solid var(--bg-color);
}
.CodeMirror-cursor {
  border-left: 2px solid var(--bullet-color) !important;
}
/*_TOGGLE--  Matching bracket like Atom  --*/
.CodeMirror-matchingbracket {
  color: var(--main-font-color) !important;
  border-bottom: 1px solid var(--code-matchingbracket-color);
}
/*_TOGGLE--  Matching bracket like Visual Studio Code  --*/
/*
  .CodeMirror-matchingbracket {
  color: var(--main-font-color) !important;
  border: 1px solid var(--icon-color-hover);
  background: #3c3c3c;
  }
  */
.CodeMirror-linenumber {
  color: var(--codemirror-linenumber) !important;
  font-family: monospace !important;
  left: 0px !important;
}
span.cm-comment {
  color: var(--cm-comment) !important;
}
span.cm-def {
  color: var(--cm-def) !important;
}
span.cm-keyword {
  color: var(--cm-keyword) !important;
}
span.cm-variable.cm-callee {
  color: var(--cm-callee) !important;
}
span.cm-operator {
  color: var(--cm-operator) !important;
}
span.cm-builtin {
  color: var(--cm-builtin) !important;
}
span.cm-string {
  color: var(--cm-string) !important;
}
span.cm-variable-3 {
  color: var(--cm-variable-3) !important;
}
span.cm-variable-2 {
  color: var(--cm-variable-2) !important;
}
span.cm-variable {
  color: var(--cm-variable) !important;
}
span.cm-tag {
  color: var(--cm-tag) !important;
}
span.cm-property {
  color: var(--cm-property) !important;
}
span.cm-number {
  color: var(--cm-number) !important;
}
span.cm-atom {
  color: var(--cm-atom) !important;
}
span.cm-qualifier {
  color: var(--cm-qualifier) !important;
}

/* kanban */

.kanban-board {
  max-width: 100% !important;
  padding: 0 !important;
  background: none !important;
  .kanban-column {
    border-radius: 6px !important;
    padding: 0 !important;
    margin: 0 !important;
    &:not([style*="background"]) {
      background: transparent !important;
    }
    &[style*="background"] {
      background: var(--secondary-background-color) !important;
    }
    .kanban-title {
      text-align: left !important;
      border-bottom: 1px solid var(--subtle-border-color) !important;
      padding: 2px 8px !important;
      min-height: 31px;
      max-height: 31px;
      font-size: 14px !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .kanban-card {
      background: var(--cards-background-color) !important;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7),
        0px 4px 7px -1px rgba(0, 0, 0, 0.07) !important;
      border-radius: 4px !important;
      padding: 6px 10px !important;
      margin: 0px 6px 12px !important;
      font-size: 14px !important;
      .check-container {
        margin-bottom: 8px !important;
      }
    }
  }
}
/*------------------------------------
# TABLE
------------------------------------*/
.roam-table th,
.roam-table td,
.roam-table tr {
  border: var(--table-border);
}

/*----------------------------------
# DATEPICKER
------------------------------------*/
.bp3-icon-calendar {
  border: none;
}
.bp3-datepicker {
  /* modal padding */
  background: var(--datepicker-bg);
  padding: 6px;
}
.bp3-html-select .bp3-icon {
  /* month and year double carrots */
  color: var(--datepicker-bg);
}
/* month back and forth bg color */
button.bp3-button.bp3-minimal.DayPicker-NavButton.DayPicker-NavButton--next,
button.bp3-button.bp3-minimal.DayPicker-NavButton.DayPicker-NavButton--prev {
  background: var(--datepicker-bg) !important;
}
/* month back and forth carrot color / outside month date color */
span.bp3-icon.bp3-icon-chevron-left,
span.bp3-icon.bp3-icon-chevron-right,
.bp3-datepicker .DayPicker-Day.DayPicker-Day--outside {
  color: var(--datepicker-altfont-color);
}
/* month and year hover state */
.bp3-html-select.bp3-minimal select:hover,
.bp3-select.bp3-minimal select:hover {
  background: #0073f9;
  color: white;
}
.bp3-datepicker .DayPicker-Weekday abbr[title] {
  /* abbreviated day titles */
  border-bottom: none;
  font-size: 13px;
  color: var(--datepicker-altfont-color);
  cursor: default;
}
.bp3-datepicker-caption + .bp3-divider {
  /* divider */
  border-bottom: none;
}
.bp3-datepicker .DayPicker-Day > div:first-child {
  /* date appearances */
  line-height: 1.15em;
  font-size: 14px;
  font-weight: 600;
}
.bp3-datepicker .DayPicker-Day:hover {
  /* hover background color */
  background: #0073f9;
  color: white;
}
/* today bg color */
.bp3-datepicker
  .DayPicker-Day.DayPicker-Day--isToday
  .bp3-datepicker-day-wrapper {
  background: var(--datepicker-day-wrapper);
}
.bp3-html-select select,
.bp3-select select {
  color: var(--main-font-color);
}

/*---------------------------------- 
    #ALL PAGES
------------------------------------*/
/* all page search input bg color */
.bp3-input.bp3-round.bp3-minimal.search-input {
  background-color: hsl(0, 0%, 98%) !important;
}
/* row dividers */
.rm-all-pages .table .rm-pages-row {
  border-bottom: 1px solid var(--allpage-bottom-border-color);
}
/* unchecked checkbox bg color */
.bp3-control.bp3-checkbox .bp3-control-indicator {
  background: var(--checkmark-bg-color);
  border: none;
}
/* checked appearance */
.bp3-control input:checked ~ .bp3-control-indicator {
  background: var(--checkedmark-bg-color);
  box-shadow: inset 0 0 0 1px rgba(253, 5, 5, 0),
    inset 0 -1px 0 rgba(222, 78, 5, 0);
}
.sorted-header-text {
  color: var(--main-font-color);
}
/* current sort carrot color */
.sorting-button-group .sort-button.focused {
  color: #3d71ff;
}
.rm-clickable-pill {
  opacity: 1;
  background-color: var(--pages-mentions-level-bg);
  color: var(--pages-mentions-font-color); /*text color */
}
.rm-clickable-pill.level1-pill {
  /* newly added—in June 2020—all pages mentions counter */
  opacity: 1;
  background-color: var(--pages-mentions-level1-bg);
  color: var(--pages-mentions-font-color); /*text color */
}
.rm-clickable-pill.level2-pill {
  /* newly added—in June 2020—all pages mentions counter */
  opacity: 1;
  background-color: var(--pages-mentions-level2-bg);
  color: var(--pages-mentions-font-color); /*text color */
}
.rm-all-pages .table .rm-pages-row .rm-pages-col {
  color: var(--main-font-color);
}
.rm-pages-row:first-child {
  /* styles color of all pages header */
  background-color: var(--pages-header-row) !important;
}
/*------------------------------------
# OTHER
------------------------------------*/

#buffer {
  /* HIDES BOTTOM RIGHT HELP ICON */
  visibility: hidden;
}
