/*-------------------------
# GLOBAL SETUP
-------------------------*/
// body:not([class|="CodeMirror"]:not([class~="rm-block"])) {
//   .roam-sidebar-content {
//     background: black;
//     color: white;
//   }
//   .roam-topbar,
//   .roam-body-main {
//     background: white;
//     color: black;
//   }
//   #roam-right-sidebar-content {
//     background: black;
//     color: white;
//   }
//   .roam-sidebar-content,
//   .roam-body-main,
//   #roam-right-sidebar-content,
//   .roam-topbar {
//     * {
//       font: unset;
//       color: unset;
//       background: unset;
//       opacity: 100%;
//     }
//   }
// }

.roam-sidebar-content,
.roam-body-main,
#roam-right-sidebar-content,
.roam-topbar {
  * {
    font: inherit;
    @include font-family;
    color: unset;
    background: transparent;
    opacity: 100%;
  }
}

// #app {
//   min-height: minmax(10px, min-content);
//   min-width: minmax(10px, min-content);
//   overflow: scroll;
//   max-height: 100%;
//   max-width: 100%;
// }

$rm-block-selector: ".rm-block, .roam-block, .roam-block-container";

/*------------------------------------------
# workspace
------------------------------------------*/
.roam-sidebar {
}

/*------------------------------------
# popups
------------------------------------*/
.bp3-menu-item {
  color: initial;
}
/*------------------------------------------
# clickables
------------------------------------------*/

/*------------------------------------------
# blocks
------------------------------------------*/
