/*------------------------------------
# RESET SITE SETTINGS
------------------------------------*/
.roam-body-main > div:first-child {
  all: unset !important;
}
/*-------------------------
# GLOBAL SETUP
-------------------------*/
// body:not([class|="CodeMirror"]:not([class~="rm-block"])) {
//   .roam-sidebar-content {
//     background: black;
//     color: white;
//   }
//   .roam-topbar,
//   .roam-body-main {
//     background: white;
//     color: black;
//   }
//   #roam-right-sidebar-content {
//     background: black;
//     color: white;
//   }
//   .roam-sidebar-content,
//   .roam-body-main,
//   #roam-right-sidebar-content,
//   .roam-topbar {
//     * {
//       font: unset;
//       color: unset;
//       background: unset;
//       opacity: 100%;
//     }
//   }
// }

.roam-sidebar-content,
.roam-body-main,
#roam-right-sidebar-content,
.roam-topbar {
  * {
    font: inherit;
    @include font-family;
    color: unset;
    background: transparent;
    opacity: 100%;
  }
}

// #app {
//   min-height: minmax(10px, min-content);
//   min-width: minmax(10px, min-content);
//   overflow: scroll;
//   max-height: 100%;
//   max-width: 100%;
// }

$rm-block-selector: ".rm-block, .roam-block, .roam-block-container";

/*------------------------------------------
# workspace
------------------------------------------*/
.roam-sidebar {
}

/*------------------------------------
# popups
------------------------------------*/
.bp3-menu-item {
  color: initial;
}
/*------------------------------------------
# clickables
------------------------------------------*/

/*------------------------------------------
# blocks
------------------------------------------*/

/*------------------------------------
# Better Roam Research Style
------------------------------------*/
@mixin better-roam-layout {
  .roam-body {
    background: blue;
  }
  .roam-topbar {
    background: none;
  }
  .roam-sidebar-container {
    background: none !important;
  }
  #right-sidebar {
    background: green;
  }
  .roam-body-main {
    border: 1px solid red;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    margin: 0px 5px; /* add space to show shadow */
    box-shadow: 0px 0px 8px 1px rgb(49, 35, 35);
    background: linear-gradient(red, blue);
  }
}

// later: are these needed?
// @media (max-width: 640px) {
//   .roam-center,
// .roam-body-main {
//     margin-right: 6px;
//     margin-left: 6px;
//   }
// }
// @media (max-width: 860px) {
//   .roam-center .roam-article,
// .roam-body-main .roam-article {
//     padding: 12px 28px 120px !important;
//   }
// }
// @media (max-width: 640px) {
//   .roam-center .roam-article,
// .roam-body-main .roam-article {
//     padding: 10px 20px 120px !important;
//   }
// }
