/*------------------------------------ # GLOBAL # ------------------------------------*/
/*------------------------------------
#
# RESET SITE SETTINGS
#
------------------------------------*/

/*------------------------------------
# All Elements
------------------------------------*/
// XXX do not set color and background XXX //
// XXX do not set height and width XXX //
* {
  height: auto;
  width: auto;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 1.2em;
}

*:not([class*="bp3-icon"]) {
  @include font-family;
}

*:not(html):not(.roam-topbar[class*="bp3"]):not([class*="CodeMirror"]) {
  min-height: 10px;
  min-width: 10px;
  max-height: 100%;
  max-width: 100%;
  text-align: inherit;
  vertical-align: inherit;
}

textarea {
  height: auto !important;
}
/*------------------------------------
# Workspace Layout
------------------------------------*/
:root {
  --leftbar_width: 195px; // perfect size to fit "graph overview" horizontally
  --topbar_height: 45px; // default
}

// level 1
html,
body,
#app,
.roam-body,
.roam-app {
  // display: flex;
  // flex-direction: row;

  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;

  overflow: hidden scroll;

  opacity: 1;
}

.roam-app {
  // level 2: leftbar, right-area
  > .roam-sidebar-container,
  > .roam-sidebar-container > .roam-sidebar-content {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: var(--leftbar_width) !important; // override element.style
    z-index: 999;
  }
  > div.flex-h-box {
    // XXX don't edit this flex-box
    // level 3: editor & topbar, rightbar
    > .roam-main {
      // level 4: topbar, roam-body-main
      > .roam-topbar {
        height: var(--topbar_height);
      }
      // level 5
      > .roam-body-main {
        margin: 0px;
        > div:first-child {
          // element.style
          // padding-right: calc((100% - 568px) / 2);
          //   padding-left: calc((100% - 1032px) / 2);
          //   height: 100%;
          //   overflow: hidden;

          padding: 0px !important;

          // level 6
          > .roam-article {
            padding: 20px; //TODO make this a variable
          }
        }
        > #buffer {
          visibility: hidden;
        }
      }
    }
    > #right-sidebar {
    }
  }
}

/*------------------------------------
# REMOVE USELESS DIVS
------------------------------------*/
// .roam-body-main > div:first-child {
//   // all: unset !important;
// }
// /* Topbar */
// .roam-topbar {
//   /*--  remove useless divs --*/
//   > .flex-h-box > div[style^="flex"]:not([class]) {
//     display: none;
//   }
// }
/*------------------------------------
# TYPOGRAPHY
------------------------------------*/
.rm-highlight {
  margin: 0px;
}

/*------------------------------------
# BLOCKS
------------------------------------*/
.rm-block-children {
  margin: 0px;
}
.roam-block-container {
  margin: 0px;
  max-width: 100% !important;
}
.rm-block__children.rm-level-0 {
  margin-left: 0px;
}
.rm-inline-img {
  max-width: 60%;
  max-height: 50vh;
}
/*------------------------------------
# popups
------------------------------------*/
.bp3-menu-item {
  color: initial;
}

button[type="button"] {
  z-index: inherit;
}
