/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
.roam-main {
  background: $background--main;
}
.roam-topbar {
  background: $background--topbar;
}
.roam-sidebar-content {
  background: $background--left;
}
#roam-right-sidebar-content {
  background: $background--right;
}

/*--------------------------------------------------------------
# Left Sidebar
--------------------------------------------------------------*/
// .roam-sidebar-container
.roam-sidebar-content {
  .top-row {
    // graph name
  }
  .log-button {
    //TODO add customizable icons
  }

  .starred-pages-wrapper {
    #{division-bar()} {
    }
  }
  .roam-sidebar-logo {
    display: none;
  }
}

.starred-pages-wrapper > div:nth-child(1) {
  /* horizontal division line */
  flex: 0 0 10px !important;
  background-color: white !important;
}

.starred-pages-wrapper > div:nth-child(2) {
  /* div padding */
  display: none;
}

.log-button {
  /* general navigations */
  color: white !important;
}
.page {
  /* left side bar pages */
  color: white !important;
}

/*--------------------------------------------------------------
# Right Sidebar
--------------------------------------------------------------*/
#roam-right-sidebar-content
// > .sidebar-content
{
  .window-headers {
    // "Block Outline" title
  }
}

.rm-resize-handle {
}

/*--------------------------------------------------------------
# Popups
--------------------------------------------------------------*/

.bp3-popover {
  //TODO move variables
  --popup-color--background: blue;
  --popup-color--text: yellow;
}

[class*="bp3-icon"]::before {
  // TODO separate this for left sidebar, main, right sidebar
  color: white !important;
}

.bp3-popover {
  color: $palette--theme; // popup title colors
  &-content {
    background-color: var(--popup-background-color);
  }
  &-arrow-fill {
    fill: var(--popup-background-color);
  }
  .bp3-button {
    // popover buttons
    color: red !important;
    &:hover {
      color: blue !important;
    }
  }
}

#{popover-selector()} {
  // TODO fix brute force style popovers
  color: $palette--theme;
  div > div > .flex-h-box div > div > span,
  div > div > .flex-h-box div > div > strong,
  div > div > div > button,
  > ul > div {
    color: $palette--theme;
    &:hover {
      colors: $palette--accent;
    }
  }
}
