@charset "UTF-8";
/*------------------------------------ UTILS & VARIABLES ------------------------------------*/
/*-------------------------
# FONTS
-------------------------*/
/*------------------------------------
# general
------------------------------------*/
/*------------------------------------
# left sidebar
------------------------------------*/
/*------------------------------------
# topbar
------------------------------------*/
/*------------------------------------
# main editor
------------------------------------*/
/*------------------------------------
# right sidebar
------------------------------------*/
/*------------------------------------
# text
------------------------------------*/
/*------------------------------------
# components
------------------------------------*/
/* bullets */
/* checkboxses & todos */
/* icons */
/* block highlights */
/*------------------------------------
# bidirectional linking
------------------------------------*/
/* page links */
/* alias & external links */
/* block refs */
/* attributes */
/* tags */
/*------------------------------------
# features
------------------------------------*/
/* query */
/* kanban */
/* table */
/* general popups */
/* page filter popup */
/* datepicker */
/* code */
/*------------------------------------
# sections
------------------------------------*/
/* linked/unlinked references */
/* all pages */
/*------------------------------------ STYLE ------------------------------------*/
/*------------------------------------
# RESET SITE SETTINGS
------------------------------------*/
html,
body,
.roam-sidebar-container div,
[id^=block-input-],
[class|=bp3] {
  font-family: "Ubuntu", Verdana, sans-serif;
}

[class|=bp3-icon] {
  font-family: "Icons16", sans-serif;
}

ol,
ul {
  margin-top: initial;
}

.roam-body .roam-app h1 {
  color: unset;
}

div,
span {
  color: inherit;
  background: transparent;
}

div[style="position: absolute; z-index: 1000; top: 0px; right: 0px; opacity: 0.5;"] {
  z-index: 10 !important;
}

.roam-block-container,
.rm-block-text {
  max-width: 100%;
}

.roam-article > div:first-child .roam-block-container {
  margin-top: 7px;
  margin-bottom: 7px;
}

.roam-block-container > .rm-block-children {
  margin-left: 10px;
}

.roam-block-container.rm-block.rm-block--open.rm-not-focused.block-bullet-view.block-border-left {
  padding-right: 5px;
}

.kanban-board {
  max-width: none;
  overflow: scroll;
}

.rm-full-width {
  margin-right: 0%;
}

.rm-zoom.zoom-path-view {
  margin-top: 0px !important;
}

[style^="margin-left: -27px"] {
  margin-left: 0px !important;
}

/*------------------------------------
# Workspace Layout
------------------------------------*/
#app .roam-body .roam-app {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  opacity: 1;
}
#app .roam-body .roam-app > div:only-child:not(.roam-sidebar-container) {
  margin-left: 0 !important;
}
#app .roam-body .roam-app > .roam-sidebar-container,
#app .roam-body .roam-app > .roam-sidebar-container > .roam-sidebar-content {
  width: 195px;
}
#app .roam-body .roam-app > div.flex-h-box[style*=margin-left] {
  margin-left: 195px !important;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-topbar {
  height: 45px;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main {
  overflow: scroll;
  padding: 20px 30px;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main > div:first-child {
  padding: 0px !important;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main > div:first-child > .roam-log-container,
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main > div:first-child > .roam-article {
  margin: 0px;
  padding: 0px;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main > #buffer {
  visibility: hidden;
}
/*------------------------------------
# Workspace Text
------------------------------------*/
#app .roam-body .roam-app {
  font-family: "Ubuntu", Verdana, sans-serif;
  color: #a6b7bf;
}
#app .roam-body .roam-app > .roam-sidebar-container,
#app .roam-body .roam-app > .roam-sidebar-container > .roam-sidebar-content {
  font-family: "Ubuntu", Verdana, sans-serif;
  color: #a6b7bf;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main {
  font-family: "Ubuntu", Verdana, sans-serif;
  color: #a6b7bf;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-topbar {
  font-family: "Ubuntu", Verdana, sans-serif;
  color: #a6b7bf;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main {
  font-family: "Ubuntu", Verdana, sans-serif;
  color: #a6b7bf;
}
#app .roam-body .roam-app > div.flex-h-box > #right-sidebar {
  font-family: "Ubuntu", Verdana, sans-serif;
  color: #a6b7bf;
}

/*------------------------------------
# Workspace Appearance
------------------------------------*/
#app .roam-body .roam-app {
  background: #050c15;
}
#app .roam-body .roam-app > .roam-sidebar-container,
#app .roam-body .roam-app > .roam-sidebar-container > .roam-sidebar-content {
  background: #050c15 !important;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-topbar {
  background: #050c15;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main {
  background: #050c15;
}
#app .roam-body .roam-app > div.flex-h-box > #right-sidebar {
  background: #0f243e;
}

/*------------------------------------
# TEXT
------------------------------------*/
/* bold text */
.rm-bold {
  font-family: "Ubuntu", Verdana, sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
}

/* italics text */
.rm-italics {
  font-family: "Ubuntu", Verdana, sans-serif !important;
  font-weight: 400 !important;
  font-style: italic !important;
  font-size: 15px !important;
}

/* highlighted text */
.rm-highlight {
  margin: 0px;
  background: #9dcee7 !important;
  color: #00000f !important;
  padding: 2px 3px;
}

.rm-highlight span {
  color: #00000f !important;
}

h1.rm-title-display,
.rm-title-textarea,
.roam-log-page h1.level2 {
  color: #a6b7bf !important;
  font-family: "Ubuntu", Verdana, sans-serif !important;
  font-weight: 700 !important;
  font-size: 30px !important;
}

.rm-heading-level-1 > .rm-block-main,
.rm-heading-level-1 > .rm-block__self .rm-block__input,
#right-sidebar .rm-heading-level-1 .rm-block-text {
  font-family: "Ubuntu", Verdana, sans-serif !important;
  font-weight: 700 !important;
  font-size: 19.4px !important;
  color: #a6b7bf;
}

.rm-heading-level-2 > .rm-block-main,
.rm-heading-level-2 > .rm-block__self .rm-block__input,
#right-sidebar .rm-heading-level-2 .rm-block-text {
  font-family: "Ubuntu", Verdana, sans-serif !important;
  font-weight: 700 !important;
  font-size: 17.2px !important;
  color: #a6b7bf;
}

.rm-heading-level-3 > .rm-block-main,
.rm-heading-level-3 > .rm-block__self .rm-block__input,
#right-sidebar .rm-heading-level-3 .rm-block-text {
  font-family: "Ubuntu", Verdana, sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  color: #a6b7bf;
}

blockquote.rm-bq {
  background: #9dcee7;
  color: #00000f;
  border-left: 5px solid #a6b7bf;
}

/*---------------------------------- 
    #BULLETS & NEST LINE
------------------------------------*/
.rm-caret:before {
  color: #a6b7bf;
}

.controls .opacity-none,
.rm-block__controls .opacity-none {
  opacity: 0.3;
}

.rm-bullet__inner {
  /* bullet */
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #9dcee7;
}

.rm-bullet.rm-bullet--closed .rm-bullet__inner,
#right-sidebar .rm-bullet.rm-bullet--closed .rm-bullet__inner {
  /* collapsed bullet */
  border: 4px solid #6ba5c2;
}

/* nest diagram line */
.block-border-left {
  border-left: 1px solid #a6b7bf;
}

.roam-block-container .rm-block-main {
  align-items: center !important;
}

.controls {
  margin: 0px;
  padding: 0px;
}

/*---------------------------------- 
  #TODO 
------------------------------------*/
.check-container .checkmark {
  /* todo */
  position: absolute;
  top: -1px;
  left: -2px;
  height: 14px;
  width: 14px;
  border-radius: 5px;
  border: 1px solid red;
  background-color: transparent;
}
.check-container input:checked ~ .checkmark {
  /* done */
  background-color: green;
  border: 1px solid #6ba5c2;
}
.check-container .checkmark:after {
  /* done check symbol */
  content: "✓";
  color: #a6b7bf;
  left: 0px;
  top: 0px;
  border: none;
  transform: rotate(-10deg) scale(0.5);
}

/*------------------------------------
# Icons & Buttons
------------------------------------*/
.rm-block-main .bp3-button {
  background: linear-gradient(#1e487b, #050c15) !important;
  color: #a6b7bf !important;
  color: #a6b7bf !important;
}
.rm-block-main .bp3-button:hover {
  background: linear-gradient(#050c15, #1e487b) !important;
}
.rm-block-main .bp3-button:before {
  color: #a6b7bf;
}

.bp3-button.bp3-minimal.block-ref-count-button {
  background: #1e487b !important;
  color: #a6b7bf !important;
  border-radius: 50% !important;
}
.bp3-button.bp3-minimal.block-ref-count-button:hover {
  background: #cbebfb !important;
  color: #00000f !important;
}

/*------------------------------------
# TAGS
------------------------------------*/
.rm-page-ref-tag {
  color: #626d6f !important;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding: none;
  text-decoration: none;
}

.rm-page-ref-tag:hover {
  color: #626d6f !important;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #626d6f;
  padding: none;
  text-decoration: none;
}

/*------------------------------------
# ATTRIBUTE
------------------------------------*/
.rm-attr-ref {
  font-family: "Ubuntu", Verdana, sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  color: #a6b7bf;
}

.rm-attr-ref:hover {
  cursor: pointer;
}

.rm-block-ref span .rm-attr-ref {
  pointer-events: pointer;
}

/*------------------------------------
# Page Links
------------------------------------*/
.rm-page-ref--link {
  /* linked page name text */
  color: #9dcee7;
}
.rm-page-ref__brackets {
  /* linked page brackes */
  color: rgba(157, 206, 231, 0.7);
}

/*------------------------------------
# Block References
------------------------------------*/
.rm-block-ref {
  /* linked refs */
  cursor: alias;
  border-bottom: 1px solid #9dcee7;
}

.rm-block-ref:hover {
  background-color: #0f243e;
}

/*------------------------------------
# Alias
------------------------------------*/
.rm-alias .rm-alias--page {
  /* internally linked alias */
  color: #a6b7bf;
}
.rm-alias .rm-alias--page:hover {
  color: #0f243e;
}
.rm-alias .rm-alias--external {
  /* externally linked alias */
  color: pink;
}
.rm-alias .rm-alias--external:hover {
  color: #9dcee7;
}

/*------------------------------------
# GLYPH
------------------------------------*/
.rm-block a:not(.rm-alias--page), .roam-block a:not(.rm-alias--page), .roam-block-container a:not(.rm-alias--page) {
  /* only include external direct url and external alias */
}

/*------------------------------------
# Linked/Unlinked References
------------------------------------*/
.rm-reference-main {
  color: #a6b7bf;
  background: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 18px;
}
.rm-reference-main button.bp3-button.bp3-minimal {
  color: #a6b7bf !important;
}
.rm-reference-main > div > div.rm-reference-container {
  padding: 10px 5px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid #a6b7bf;
}
.rm-reference-main > div > div.rm-reference-container div[style*="color: rgb(206, 217, 224);"] > strong {
  /* "Linked References" reference block header */
  color: #a6b7bf !important;
}
.rm-reference-main > div > div {
  padding: 10px 5px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid rgba(166, 183, 191, 0.5);
}
.rm-reference-main > div > div strong[style*="color: rgb(206, 217, 224);"] {
  /* "Unlinked References" reference block header */
  color: rgba(166, 183, 191, 0.5) !important;
}
.rm-reference-main .rm-ref-page-view {
  /* linked page */
}
.rm-reference-main .rm-ref-page-view .rm-page__title {
  color: #a6b7bf;
}
.rm-reference-main .rm-ref-page-view .rm-zoom .rm-zoom-item .parent-path-wrapper,
.rm-reference-main .rm-ref-page-view .rm-zoom .rm-zoom-item .rm-mention-icon:before {
  color: #a6b7bf;
}
.rm-reference-main .rm-reference-item {
  /* footer reference box apperance */
  background: transparent;
  color: #a6b7bf;
  border-radius: 5px;
  border: none;
}

/*------------------------------------
# BLOCKS
------------------------------------*/
.rm-block-children.rm-level-0 {
  margin-left: 0px;
}

.rm-block .rm-not-focused,
.roam-block .rm-not-focused,
.rm-block-children .rm-not-focused,
.roam-block-container .rm-not-focused {
  /* regular block */
  background-color: transparent;
}
.rm-block .rm-focused,
.roam-block .rm-focused,
.rm-block-children .rm-focused,
.roam-block-container .rm-focused {
  /* focused block */
  /* i.e. when tyging inside */
  padding: 0px;
}
.rm-block .block-highlight-blue,
.roam-block .block-highlight-blue,
.rm-block-children .block-highlight-blue,
.roam-block-container .block-highlight-blue {
  /* selected block in main edit area */
  background-color: #9dcee7;
}
.rm-block .block-highlight-yellow,
.roam-block .block-highlight-yellow,
.rm-block-children .block-highlight-yellow,
.roam-block-container .block-highlight-yellow {
  /* selected block in linked referenced */
  background-color: #9dcee7;
}
.rm-block .block-highlight-yellow span,
.roam-block .block-highlight-yellow span,
.rm-block-children .block-highlight-yellow span,
.roam-block-container .block-highlight-yellow span {
  color: #00000f !important;
}
.rm-block .rm-embed-container,
.roam-block .rm-embed-container,
.rm-block-children .rm-embed-container,
.roam-block-container .rm-embed-container {
  /* embed block highlight */
  background-color: #cbebfb;
  color: #00000f;
}

.rm-level-1 > .block-border-left {
  border-left: none !important;
}

/*------------------------------------
# POPUPS
------------------------------------*/
.bp3-popover {
  color: #a6b7bf;
  background: #1e487b;
}
.bp3-popover div[style="padding: 8px 0px; font-size: 0.8em; color: rgb(167, 182, 194);"] {
  color: #a6b7bf !important;
}
.bp3-popover > .bp3-popover-content {
  background-color: #1e487b;
  color: #a6b7bf;
}
.bp3-popover .bp3-popover-arrow-fill {
  fill: #1e487b;
}
.bp3-popover .bp3-popover-arrow-border {
  fill: #a6b7bf;
}
.bp3-popover .bp3-button {
  color: #a6b7bf;
  background: radial-gradient(#1e487b), white;
}
.bp3-popover .bp3-button:hover {
  color: #0f243e !important;
  background: radial-gradient(#1e487b, black);
}

.roam-body .roam-app {
  background-color: #1e487b !important;
  color: #a6b7bf;
}
.roam-body .roam-app .bp3-menu,
.roam-body .roam-app .roam-sidebar-container .bp3-menu {
  background: #1e487b;
  color: #a6b7bf;
}
.roam-body .roam-app .bp3-menu .bp3-menu-item {
  color: #a6b7bf;
}
.roam-body .roam-app .bp3-menu .bp3-menu-item:hover {
  background: #00000f;
}
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown {
  opacity: 1;
}
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .menu-title {
  color: #a6b7bf;
}
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .menu-item {
  color: #a6b7bf;
  margin-top: 2px;
}
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .setting {
  background: transparent;
}
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .setting a {
  color: #a6b7bf;
  background: #1e487b;
}
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .setting:hover {
  color: #a7b7bf;
  background: #1e487b;
  border: 1px solid #a7b7bf;
}
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .signout {
  color: #a6b7bf;
}

.bp3-elevation-3 {
  background-color: #1e487b !important;
  color: #a6b7bf;
}
.bp3-elevation-3 .dont-unfocus-block[style*=background] {
  background-color: #cbebfb !important;
}

/*------------------------------------
# QUERY
------------------------------------*/
.rm-query {
  border: #0f243e;
  border-radius: 5px;
  padding-bottom: 5px;
}
.rm-query .rm-query-title {
  display: none;
  background-color: #0f243e;
  color: #a6b7bf;
}

/*------------------------------------
# KANBAN
------------------------------------*/
.kanban-board {
  padding: 2px;
  border: 1px solid #a6b7bf;
  border-radius: 5px;
  background: transparent;
}
.kanban-board .kanban-column {
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}
.kanban-board .kanban-column:not([style*=background]) {
  background: transparent;
}
.kanban-board .kanban-column[style*=background] {
  background: #1e487b;
}
.kanban-board .kanban-column .kanban-title {
  color: #a6b7bf;
  text-align: center;
  border-bottom: 1px solid #a6b7bf;
  padding: 2px 8px;
  min-height: 31px;
  max-height: 31px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kanban-board .kanban-column .kanban-card {
  background: #0f243e;
  color: #a6b7bf;
  box-shadow: 0px 4px 7px -1px #050c15;
  border-radius: 5px;
  border: 1px solid #a6b7bf;
  padding: 6px 10px;
  margin: 0px 6px 12px;
  font-size: 14px;
}
.kanban-board .kanban-column .kanban-card .check-container {
  margin-bottom: 8px;
}

/*------------------------------------
# TABLES
------------------------------------*/
.roam-table th,
.roam-table td,
.roam-table tr {
  border: 1px solid #a6b7bf;
}

/*------------------------------------
# Datepicker
------------------------------------*/
.bp3-icon-calendar {
  border: none;
}

.bp3-datepicker {
  /* modal padding */
  background: #0f243e;
  padding: 6px;
}

.bp3-html-select select,
.bp3-select select {
  /* month, year text */
  color: #a6b7bf;
}

.bp3-html-select .bp3-icon {
  /* month and year select */
  color: #a6b7bf;
}

/* month back and forth carret bg color */
button.bp3-button.bp3-minimal.DayPicker-NavButton.DayPicker-NavButton--next,
button.bp3-button.bp3-minimal.DayPicker-NavButton.DayPicker-NavButton--prev {
  background: transparent !important;
}
button.bp3-button.bp3-minimal.DayPicker-NavButton.DayPicker-NavButton--next svg,
button.bp3-button.bp3-minimal.DayPicker-NavButton.DayPicker-NavButton--prev svg {
  color: #a6b7bf !important;
}

/* month back and forth carret color / outside month date color */
span.bp3-icon.bp3-icon-chevron-left,
span.bp3-icon.bp3-icon-chevron-right,
.bp3-datepicker .DayPicker-Day.DayPicker-Day--outside {
  color: #050c15;
}

/* month and year hover state */
.bp3-html-select.bp3-minimal select:hover,
.bp3-select.bp3-minimal select:hover {
  background: #9dcee7;
  color: #00000f;
}

.bp3-datepicker .DayPicker-Weekday abbr[title] {
  /* abbreviated day titles */
  border-bottom: none;
  font-size: 13px;
  color: #9dcee7;
  cursor: default;
}

.bp3-datepicker-caption + .bp3-divider {
  /* divider */
  border-bottom: none;
}

.bp3-datepicker .DayPicker-Day {
  background: transparent;
  color: #1e487b;
}

.bp3-datepicker .DayPicker-Day > div:first-child {
  /* date appearances */
  line-height: 1.15em;
  font-size: 14px;
  font-weight: 600;
}

.bp3-datepicker .DayPicker-Day:hover {
  /* hover background color */
  background: #9dcee7;
  color: #00000f;
}

/* today bg color */
.bp3-datepicker .DayPicker-Day.DayPicker-Day--isToday .bp3-datepicker-day-wrapper {
  background: #9dcee7;
  color: #00000f;
}

/*---------------------------------- 
    #CODE
------------------------------------*/
code {
  /* inline code */
  background: #222629;
  color: #dcdedd;
  border: 1px solid #34373b;
  border-radius: 3px;
}

.CodeMirror {
  /* code block */
  border: 1px solid #323438;
  border-radius: 3px;
  background: #222629 !important;
  color: #a6b7bf !important;
}

.Codemirror-code {
  padding-left: 12px !important;
}

div.CodeMirror-selected {
  /* selected color */
  background: #9dcee7 !important;
}

.CodeMirror-gutters {
  background: #050c15;
  padding-right: 12px;
  border-right: 1px solid #050c15;
}

.CodeMirror-cursor {
  border-left: 2px solid #9dcee7 !important;
}

/*_TOGGLE--  Matching bracket like Atom$*/
.CodeMirror-matchingbracket {
  color: #a6b7bf !important;
  border-bottom: 1px solid #ead64c;
}

/*_TOGGLE--  Matching bracket like Visual Studio Code$*/
/*
  .CodeMirror-matchingbracket {
  color: $main_text-color !important;
  border: 1px solid $icon-color-hover;
  background: #3c3c3c;
  }
  */
.CodeMirror-linenumber {
  color: #515355 !important;
  font-family: monospace !important;
  left: 0px !important;
}

span.cm-comment {
  color: #7f848e !important;
}

span.cm-def {
  color: #d19a66 !important;
}

span.cm-keyword {
  color: #c678dd !important;
}

span.cm-variable.cm-callee {
  color: #56b6c2 !important;
}

span.cm-operator {
  color: #56b6c2 !important;
}

span.cm-builtin {
  color: #56b6c2 !important;
}

span.cm-string {
  color: #98c379 !important;
}

span.cm-variable-3 {
  color: #56b6c2 !important;
}

span.cm-variable-2 {
  color: #e06c75 !important;
}

span.cm-variable {
  color: #e5c07b !important;
}

span.cm-tag {
  color: #e06c75 !important;
}

span.cm-property {
  color: #61afef !important;
}

span.cm-number {
  color: #d19a66 !important;
}

span.cm-atom {
  color: #d19a66 !important;
}

span.cm-qualifier {
  color: #d19a66 !important;
}

/*------------------------------------
# CREDITS
------------------------------------*/
.roam-topbar > div > div:last-child ul.bp3-menu:after {
  content: "theme by @RainbowCat";
  color: #a6b7bf;
  border: 1px solid #a6b7bf;
  border-radius: 10px;
  text-align: right;
  font-size: 13px;
  line-height: 1.4;
  display: inline-block;
  padding: 7px;
  margin-top: 5px;
}

/*------------------------------------
# TOPBAR
------------------------------------*/
.roam-topbar {
  background: #050c15;
}

.roam-topbar .flex-h-box > div[style^=flex]:not([class]) {
  display: none;
}

/* make search popover */
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper input#find-or-create-input:focus,
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay {
  opacity: 1 !important;
  position: fixed !important;
  left: 55vw;
  /* place at front of page */
  z-index: 999999;
  /* center */
  transform: translate(-50%, 0);
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper input#find-or-create-input:focus {
  box-sizing: content-box;
  top: 27vh;
  height: 45px !important;
  width: 500px !important;
  font-size: 20px;
  padding: 10px 20px;
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay {
  top: calc( 27vh + 45px + 2 * 10px );
  width: calc( 500px + 2 * 20px + 2px );
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay > .bp3-transition-container {
  transform: none !important;
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper input#find-or-create-input:focus {
  box-shadow: 0 0 0 200vh rgba(0, 0, 0, 0.07);
  background: #0f243e;
  color: #a6b7bf;
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper input#find-or-create-input:focus::placeholder {
  color: rgba(166, 183, 191, 0.5);
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay .bp3-popover {
  border: 1px solid white;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 200vh rgba(0, 0, 0, 0.07);
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay .bp3-popover .bp3-menu,
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay .bp3-popover .rm-menu-item {
  background: #0f243e;
  color: #a6b7bf;
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay .bp3-popover .bp3-menu[style*="background-color: rgb(213, 218, 223);"],
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay .bp3-popover .rm-menu-item[style*="background-color: rgb(213, 218, 223);"] {
  background: #9dcee7 !important;
  color: #00000f !important;
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay .bp3-popover, .roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay .bp3-popover > .bp3-popover-content, .roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay .bp3-popover > .bp3-popover-content > .bp3-menu, .roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-overlay .bp3-popover > .bp3-popover-content > .bp3-menu > .rm-menu-item:last-child {
  border-radius: 0px 0px 10px 10px !important;
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-popover-target input#find-or-create-input:focus {
  border: 1px solid white !important;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.roam-topbar > .flex-h-box .rm-find-or-create-wrapper .bp3-popover-target.bp3-popover-open input#find-or-create-input:focus {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid white;
  border-bottom: 1px solid grey;
}

/* make all elements look like a button */
.roam-topbar .flex-h-box {
  justify-content: flex-end;
}
.roam-topbar .flex-h-box > div,
.roam-topbar .flex-h-box > span {
  height: 24px;
  width: 24px;
  margin: 5px;
}
.roam-topbar .flex-h-box .rm-saving-icon {
  height: 24px;
  width: 24px;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
}
.roam-topbar .flex-h-box .rm-saving-inner-icon {
  height: 10px !important;
  width: 10px !important;
}
.roam-topbar .flex-h-box .rm-find-or-create-wrapper {
  flex: unset !important;
}
.roam-topbar .flex-h-box .rm-find-or-create-wrapper input#find-or-create-input {
  opacity: 0;
  z-index: 10000;
  /* bring in front of icon to keep clickable */
  width: 24px !important;
  height: 24px !important;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.roam-topbar .flex-h-box .rm-find-or-create-wrapper .bp3-icon-search.search-icon {
  padding: 4px;
  margin: 0px !important;
}
.roam-topbar .flex-h-box .bp3-button.bp3-minimal {
  height: 24px;
  width: 24px;
  margin: 0px !important;
}
.roam-topbar .flex-h-box [class~=bp3-icon]:before,
.roam-topbar .flex-h-box .bp3-button.bp3-minimal:before {
  color: #a6b7bf;
  background: transparent;
}
.roam-topbar .flex-h-box .bp3-icon-filter,
.roam-topbar .flex-h-box .bp3-icon-search {
  color: #a6b7bf !important;
}
.roam-topbar .flex-h-box .rm-find-or-create-wrapper,
.roam-topbar .flex-h-box [class~=bp3-icon]:not(.bp3-icon-filter):not(.bp3-icon-search),
.roam-topbar .flex-h-box .bp3-button.bp3-minimal {
  border-radius: 3px;
  transition: none;
  background: #1e487b !important;
}
.roam-topbar .flex-h-box .rm-find-or-create-wrapper:hover,
.roam-topbar .flex-h-box [class~=bp3-icon]:not(.bp3-icon-filter):not(.bp3-icon-search):hover,
.roam-topbar .flex-h-box .bp3-button.bp3-minimal:hover {
  background: #cbebfb !important;
}

/*------------------------------------
# LEFT SIDEBAR
------------------------------------*/
/*** LAYOUT ***/
.roam-body .roam-app .roam-sidebar-content {
  padding: 0 !important;
}
.roam-body .roam-app .roam-sidebar-content #roam-sidebar-logo {
  display: none;
}
.roam-body .roam-app .roam-sidebar-content > div:not(.log-button):not(:first-child) {
  padding: 0 !important;
}
.roam-body .roam-app .roam-sidebar-content > div:first-child {
  padding-bottom: 18px !important;
}
.roam-body .roam-app .roam-sidebar-content div {
  line-height: 1.2 !important;
}
.roam-body .roam-app .roam-sidebar-content .starred-pages-wrapper > div:nth-child(1) {
  flex: 0 0 1px;
  background-color: #a6b7bf !important;
  margin: 10px 20px;
}
.roam-body .roam-app .roam-sidebar-content .starred-pages-wrapper > div:nth-child(2) {
  display: none;
}
.roam-body .roam-app .roam-sidebar-content .starred-pages-wrapper > .flex-h-box {
  display: none;
}
.roam-body .roam-app .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding: 6px 24px 6px !important;
}
.roam-body .roam-app .roam-sidebar-content .shortcut {
  padding: 14px 24px 0;
}
.roam-body .roam-app .roam-sidebar-content .top-row {
  padding: 12px 0 0 20px;
}

/*** APPEARANCE ***/
.roam-body .roam-app .roam-sidebar-content .top-row,
.roam-body .roam-app .roam-sidebar-content .top-row .rm-db-title,
.roam-body .roam-app .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  background: transparent;
  color: #6ba5c2 !important;
}
.roam-body .roam-app .roam-sidebar-content .top-row:hover,
.roam-body .roam-app .roam-sidebar-content .top-row .rm-db-title:hover,
.roam-body .roam-app .roam-sidebar-content .log-button:hover,
.roam-body .roam-app .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  background: transparent !important;
  color: #cbebfb !important;
}

.roam-body .roam-app .roam-sidebar-content .top-row .rm-db-title,
.roam-body .roam-app .roam-sidebar-content .log-button {
  font-size: 13px !important;
}

/*** ANIMATIONS ***/
#right-sidebar {
  border: none !important;
  transition: none !important;
  overflow: hidden !important;
}
#right-sidebar .hoverparent,
#right-sidebar .react-resizable {
  max-width: 100% !important;
}
#right-sidebar .hoverparent img,
#right-sidebar .react-resizable img {
  max-width: 100% !important;
}
#right-sidebar .window-headers div span {
  color: #a6b7bf;
}
#right-sidebar h1 {
  font-size: 18px !important;
}
#right-sidebar #roam-right-sidebar-content {
  margin-left: -6px !important;
}
#right-sidebar #roam-right-sidebar-content > div[style] {
  border-bottom: 1px solid rgba(15, 36, 62, 0.5) !important;
}
#right-sidebar #roam-right-sidebar-content .sidebar-content > div > div[style*=border-bottom] {
  border-bottom: 1px solid rgba(15, 36, 62, 0.5) !important;
}
#right-sidebar .rm-block-text {
  font-size: 14.5px !important;
}
#right-sidebar [class~=bp3-icon]:before,
#right-sidebar .bp3-button.bp3-minimal:before {
  color: #a6b7bf;
  background: transparent;
}
#right-sidebar .bp3-icon-filter,
#right-sidebar .bp3-icon-search {
  color: #a6b7bf !important;
}
#right-sidebar [class~=bp3-icon]:not(.bp3-icon-filter):not(.bp3-icon-search),
#right-sidebar .bp3-button.bp3-minimal {
  border-radius: 3px;
  transition: none;
  background: #1e487b !important;
}
#right-sidebar [class~=bp3-icon]:not(.bp3-icon-filter):not(.bp3-icon-search):before,
#right-sidebar .bp3-button.bp3-minimal:before {
  color: #a6b7bf !important;
}
#right-sidebar [class~=bp3-icon]:not(.bp3-icon-filter):not(.bp3-icon-search):hover,
#right-sidebar .bp3-button.bp3-minimal:hover {
  background: #cbebfb !important;
}
#right-sidebar [class~=bp3-icon]:not(.bp3-icon-filter):not(.bp3-icon-search):hover:before,
#right-sidebar .bp3-button.bp3-minimal:hover:before {
  color: #00000f !important;
}

.rm-all-pages .table .rm-pages-row.rm-pages-row-header {
  background: #050c15 !important;
}

/*---------------------------------- 
    #ALL PAGES
------------------------------------*/
#all-pages-search.rm-all-pages {
  /* table header */
}
#all-pages-search.rm-all-pages .bp3-input.bp3-round.bp3-minimal.search-input {
  /* search input bg color */
  background-color: transparent;
}
#all-pages-search.rm-all-pages #rm-all-pages-column-titles.rm-pages-row-header {
  background: #cbebfb;
  color: #00000f;
}
#all-pages-search.rm-all-pages .sorted-header-text {
  color: #00000f;
}
#all-pages-search.rm-all-pages .sorting-button-group .sort-button.focused {
  /* current sort carret color */
  color: #00000f;
}
#all-pages-search.rm-all-pages a.rm-pages-title-text,
#all-pages-search.rm-all-pages .table .rm-pages-row .rm-pages-col {
  /* general ext color */
  color: #a6b7bf;
}
#all-pages-search.rm-all-pages .table .rm-pages-row {
  /* row dividers */
  border-bottom: 1px solid #2d3133;
}
#all-pages-search.rm-all-pages .bp3-control.bp3-checkbox .bp3-control-indicator {
  /* unchecked checkbox bg color */
  background: transparent;
  border: none;
}
#all-pages-search.rm-all-pages .bp3-control input:checked ~ .bp3-control-indicator {
  /* checked appearance */
  background: green;
}
#all-pages-search.rm-all-pages .rm-clickable-pill {
  /* mentions count bubble */
  opacity: 1;
  background-color: #9dcee7;
  color: #00000f;
}
#all-pages-search.rm-all-pages .bp3-button.bp3-minimal:before {
  color: #a6b7bf;
  background: transparent;
}
#all-pages-search.rm-all-pages .bp3-icon-search:before {
  color: white !important;
}
#all-pages-search.rm-all-pages .bp3-button.bp3-minimal {
  min-width: 16px !important;
  min-height: 16px !important;
  height: 24px;
  width: 24px;
  opacity: 1;
  margin: 0px 2px;
  border-radius: 3px;
  transition: none;
  background: #1e487b !important;
}
#all-pages-search.rm-all-pages .bp3-button.bp3-minimal:before {
  color: #a6b7bf !important;
}
#all-pages-search.rm-all-pages .bp3-button.bp3-minimal:hover {
  background: #cbebfb !important;
}
#all-pages-search.rm-all-pages .bp3-button.bp3-minimal:hover:before {
  color: #00000f !important;
}
