/*-------------------------------------------------- Utils --------------------------------------------------*/
/*--------------------------------------------------------------
# Reference: https://medium.com/dev-channel/using-sass-to-automatically-pick-text-colors-4ba7645d2796
--------------------------------------------------------------*/
/**
 * Precomputed linear color channel values, for use in contrast calculations.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
/*** LAYOUT ***/
/*** APPEARANCE ***/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-sidebar-content {
  background: black;
  color: white;
}
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-topbar,
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-body-main {
  background: white;
  color: black;
}
body:not([class|=CodeMirror]:not([class|=rm-block])) #roam-right-sidebar-content {
  background: grey;
  color: white;
}
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-sidebar-content *,
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-body-main *,
body:not([class|=CodeMirror]:not([class|=rm-block])) #roam-right-sidebar-content *,
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-topbar * {
  font: inherit;
  color: inherit;
  background: inherit;
  opacity: 100%;
}

/*** ANIMATIONS ***/
/*-------------------------------------------------- Preferences --------------------------------------------------*/
/* Coolors Exported Palette - https://coolors.co/14232a-264653-2a9d8f-fdf6ed-e9c772-f4a261-e76f51 */
/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
/* Fonts */
/*--------------------------------------------------------------
# Palette
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Basic Text
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Workspace
--------------------------------------------------------------*/
/* Left Sidebar */
/* Right Sidebar */
/* Main Area */
/*--------------------------------------------------------------
# Workspace Tools
--------------------------------------------------------------*/
/* Top */
/* Search Bar */
/* Page Filter */
/* "All Pages" */
/* "Graph Overview */
/*--------------------------------------------------------------
# Link, Reference, Alias
--------------------------------------------------------------*/
/* Linked References */
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Bullets */
/* Icons */
/* Checkboxes */
/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
/* Kanban */
/* Table */
/* Queries */
/* Mentions */
/* Code Area */
/*-------------------------------------------------- Apply Preferences --------------------------------------------------*/
/*-------------------------------------------------- Extra Customizations --------------------------------------------------*/
/*-------------------------------------------------- Debug Use --------------------------------------------------*/
