/*-------------------------------------------------- Utils --------------------------------------------------*/
/*** LAYOUT ***/
/*** APPEARANCE ***/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/*--------------------------------------------------------------
# Palette
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Textcolor
--------------------------------------------------------------*/
/*** LAYOUT ***/
/*** APPEARANCE ***/
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-sidebar-content {
  background: black;
  color: white;
}
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-topbar,
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-body-main {
  background: white;
  color: black;
}
body:not([class|=CodeMirror]:not([class|=rm-block])) #roam-right-sidebar-content {
  background: grey;
  color: white;
}
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-sidebar-content *,
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-body-main *,
body:not([class|=CodeMirror]:not([class|=rm-block])) #roam-right-sidebar-content *,
body:not([class|=CodeMirror]:not([class|=rm-block])) .roam-topbar * {
  font: inherit;
  color: inherit;
  background: inherit;
  opacity: 100%;
}

/*** ANIMATIONS ***/
/*-------------------------------------------------- Basic --------------------------------------------------*/
/*-------------------------------------------------- Features --------------------------------------------------*/
/*-------------------------------------------------- Plugins --------------------------------------------------*/
/*-------------------------------------------------- Debug Use --------------------------------------------------*/
