/*------------------------------------
#
# MAIN TYPING AREA / EDITOR
#
------------------------------------*/
// .roam-main {
//   background: $background--main;
//   color: setContrast($background--main);
// }

//later
#buffer {
  /* HIDES BOTTOM RIGHT HELP ICON */
  visibility: hidden;
}

#buffer {
  background-color: #dfe1e5 !important;
}

#buffer .help-title,
#buffer .help-sub-title,
#buffer .help-item-label,
#buffer .help-item-text {
  color: #252729;
}

.roam-body .roam-app .roam-main .roam-article {
  padding: 0px;
}
