/*------------------------------------
#
# RIGHT SIDEBAR
#
------------------------------------*/
#right-sidebar {
  background: $background--right;
  color: setContrast($background--right);
  .window-headers {
    // div titles
    color: $palette--white;
  }

  .rm-resize-handle {
    // draggable handle for resizing
  }
}

#right-sidebar > .flex-h-box > div {
  // todo fix this when right side bar is not present
  display: none;
}
