/*------------------------------------
#
# RIGHT SIDEBAR
#
------------------------------------*/
#right-sidebar {
  background: $background--right;
  color: setContrast($background--right);
  .window-headers {
    // div titles
    color: $palette--white;
  }

  .rm-resize-handle {
    // draggable handle for resizing
  }
}
