/*------------------------------------
# LEFT SIDEBAR
------------------------------------*/
.roam-sidebar-content {
  /*** LAYOUT ***/
  #roam-sidebar-logo {
    display: none; /* hide logo */
  }
  .starred-pages-wrapper {
    /* use border and padding instead of useless divs */
    border-top: 0.1em solid opacify($palette--white, 0.5);
    > div:nth-child(1) {
      // maybe use better class selector
      /* hide horizontal line div */
      display: none;
    }
    > div:nth-child(2) {
      // maybe use better class selector
      /* hide padding div */
      display: none;
    }
  }

  /*** APPEARANCE ***/
  background: $background--left;
  color: setContrast($background--left);

  .top-row {
    // graph name
    color: setContrast($background--left);
  }
  .log-button {
    /* general navigations */
    color: setContrast($background--left);
    .bp3-icon {
      color: setContrast($background--left);
    }
  }
  .starred-pages-wrapper {
    margin-top: 10px; // add space from .log-buttons
    > .flex-h-box {
      // "★ SHORTCUTS" title
      display: none;
    }
    background: $background--shortcuts; // background of full shotcut section
    color: setContrast($background--left);
  }
  .page {
    /* left sidebar pages */
    color: setContrast($background--left);
  }

  /*** ANIMATIONS ***/
}
