/*------------------------------------
#
# MAIN TYPING AREA / EDITOR
#
------------------------------------*/
.roam-main {
  background: $background--main;
  color: setContrast($background--main);
}
/*** LAYOUT ***/
/*** TEXT ***/
/*** APPEARANCE ***/
/*** ANIMATIONS ***/

#buffer {
  /* HIDES BOTTOM RIGHT HELP ICON */
  visibility: hidden;
}
