/*------------------------------------
# general
------------------------------------*/
$roundness: 5px;

$main_subtle-color: color.adjust($palette_theme, $alpha: -0.5);
$main_bg: $palette_theme; // unused, for ref
$main_text-color: setContrast($main_bg); // unused, for ref

$font-size_small: 10px;
$font-size_regular: 15px;
$font-size_large: 30px;

/*------------------------------------
# left sidebar
------------------------------------*/
$leftbar_width: 195px; // perfect size to fit "graph overview" horizontally
$leftbar_bg: $palette_theme-darker;
// $bg--shortcuts: linear-gradient(green, black);
$leftbar_divline-color: $palette_accent-darker;
$leftbar_text-color: $palette_accent-darker;
$leftbar_text-color-hover: $palette_accent-lighter;

/*------------------------------------
# topbar
------------------------------------*/
$topbar_height: 45px; // default
$topbar_bg: $palette_theme;
$topbar_icons-placement: center;

$searchbar-height: 45px;
$searchbar-width: 500px;
$searchbar-left: 55vw;
$searchbar-top: 27vh;
$searchbar-padding-tb: 10px;
$searchbar-padding-lr: 20px;
$searchbar-font: 20px;

/*------------------------------------
# main editor
------------------------------------*/
$editor_margin: 20px 30px;

/*------------------------------------
# right sidebar
------------------------------------*/
$rightbar_bg: $palette_theme;
$rightbar_title-color: setContrast($palette_theme-lighter);

/*------------------------------------
# basic text
------------------------------------*/
$page-title_text-color: setContrast($palette_theme);
$heading1_text-color: setContrast($palette_theme);
$heading2_text-color: setContrast($palette_theme);
$heading3_text-color: setContrast($palette_theme);

$heading_size-factor: 2.2;
$page-title_size: $font-size_large;
$heading1_size: $font-size_regular + 3 * $heading_size-factor;
$heading2_size: $font-size_regular + 2 * $heading_size-factor;
$heading3_size: $font-size_regular + 1 * $heading_size-factor;

$blockquote_bg: $palette_accent-darker;
$blockquote_text-color: setContrast($blockquote_bg);
$blockquote_border: 8px solid $blockquote_text-color;

$highlight_bg: $palette_accent;
$highlight_text-color: setContrast($palette_accent);
$highlight_padding: 2px 3px;

$hr-line: 0.8px dashed color.change($palette_accent-darker, $alpha: 0.7);

/*------------------------------------
# components
------------------------------------*/
// bullets
$bullet_color: $palette_accent;
$bullet_border-closed: 4px solid
  color.adjust($palette_accent-darker, $alpha: -0.3);
$treeline: 1px solid setContrast($palette_theme);

// checkboxses & todos
$checkbox_top: -1px;
$checkbox_left: -2px;
$checkbox_height: 14px;
$checkbox_width: 14px;

$checkbox_border-radius: $roundness;
$checkbox_border-notdone: 1px solid red;
$checkbox_border-done: 1px solid $palette_accent-darker;

$checkbox_bg-notdone: transparent;
$checkbox_bg-done: green;

$checkbox_symbol-color: setContrast($checkbox_bg-done);
$checkbox_symbol: "✓";

// icons
$icons_bg: $palette_theme-lighter;
$icons_bg-hover: $palette_accent-lighter;
$icons_color: setContrast($icons_bg);
$icons_color-hover: setContrast($icons_bg-hover);
$icons_border-radius: 3px;
$icons_size: 24px;

// block highlights
$block_highlight-main: $palette_accent;
$block_highlight-linked: $palette_accent;
$block_highlight-linked-text: setContrast($palette_accent);
$block_highlight-embed: $palette_accent-lighter;

/*------------------------------------
# bidirectional linking
------------------------------------*/
$add-glyph: true;

$link-internal_text: $palette_accent;
$link-internal_text-hover: color.adjust($link-internal_text, $lightness: +0.2);

$link-external_text: pink; // includes regular hyperlinks
$link-external_text-hover: color.adjust(pink, $lightness: +0.2);

// page links (internal)
$page-link_text: $link-internal_text;
$page-link_hover: $link-internal_text-hover;
$page-link_brackets: color.adjust($page-link_text, $alpha: -0.3);

// alias links (internal & external)
$alias-internal_text: $link-internal_text;
$alias-internal_text-hover: $link-internal_text-hover;
$alias-external_text: $link-external_text;
$alias-external_text-hover: $link-external_text-hover;

// block refs
$block-ref_bg: color.change($palette_accent, $alpha: 0.07);
$block-ref_text: setContrast($main_bg);
$block-ref_text-decoration: none;

$block-ref_bg-hover: color.change($block-ref_bg, $alpha: 0.3);
$block-ref_text-hover: setContrast($main_bg);
$block-ref_text-decoration-hover: dotted underline $block-ref_text-hover 1px; //  <'text-decoration-line'> || <'text-decoration-style'> || <'text-decoration-color'> || <'text-decoration-thickness'>

// attributes
$attribute_color: setContrast($palette_theme);

// tags
$tag_border-radius: 5px;
$tag_border: none;
$tag_border-hover: none;

$tag_padding: none;

$tag_bg: transparent;
$tag_bg-hover: transparent;

$tag_text-color: $palette_grey;
$tag_text-color-hover: $palette_grey;

$tag_text-decoration: none;
$tag_text-decoration-hover: underline;

/*------------------------------------
# features
------------------------------------*/
// query
$query_border: $palette_theme;
$query_padding-bottom: 5px;
$query-title_bg: $palette_theme;
$query-title_text: setContrast($query-title_bg);

// kanban
$kanban_board-bg: transparent;
$kanban_board-border: setContrast($palette_theme);

$kanban_title-div: 1px solid setContrast($palette_theme);
$kanban_col-bg: transparent;
$kanban_col-drag-bg: $palette_theme-lighter;

$kanban_card-bg: $palette_theme;
$kanban_card-shadow: $palette_theme-darker;
$kanban_card-border: 1px solid setContrast($palette_theme);

// table
$table_border: 1px solid setContrast($palette_theme);

// general popups
$popover_bg: $palette_theme-lighter;
$popover_text: setContrast($popover_bg);

$popover_bg-hover: $palette_accent;
$popover_text-hover: setContrast($popover_bg-hover);

$popover_border: 1px solid setContrast($popover_bg-hover);

// page filter popup
$page-filter-btns-bg: $popover_bg;
$page-filter-btns-text: $popover_text;

$page-filter-btns-bg-hover: color.adjust($popover_bg, $lightness: 15%);
$page-filter-btns-text-hover: setContrast($page-filter-btns-bg-hover);

// datepicker
$datepicker_bg: $palette_theme;
$datepicker_text: setContrast($datepicker_bg);

// for things inside
$datepicker_hover-bg: color.change($palette_accent, $alpha: 0.3);
$datepicker_hover-text: $palette_accent-lighter;

// days
$datepicker_today-bg: $palette_accent; // today
$datepicker_weekday: $palette_accent-darker;
$datepicker_month-day: $palette_accent-lighter;
$datepicker_nonmonth-day: color.change($palette_accent, $alpha: 0.5);

// code
$code-inline_bg: #222629;
$code-inline_font: "Source Code Pro", "Courier New", Courier, monospace;
$code-inline_font-color: #dcdedd;
$code-inline_font-size: 1em;
$code-inline_border: 1px solid #34373b;

$codemirror_bg: #222629;
$codemirror_border-color: #323438;
$codemirror_border-radius: 3px;
$codemirror_linenumber: #515355;
$code-inline_matchingbracket-color: #ead64c;

$codemirror_comment: #7f848e;
$codemirror_def: #d19a66;
$codemirror_keyword: #c678dd;
$codemirror_callee: #56b6c2;
$codemirror_operator: #56b6c2;
$codemirror_builtin: #56b6c2;
$codemirror_string: #98c379;
$codemirror_variable-3: #56b6c2;
$codemirror_variable-2: #e06c75;
$codemirror_variable: #e5c07b;
$codemirror_tag: #e06c75;
$codemirror_property: #61afef;
$codemirror_number: #d19a66;
$codemirror_atom: #d19a66;
$codemirror_qualifier: #d19a66;

$code-activeline_bg: color.change($palette_grey, $alpha: 0.3); //todo
/*------------------------------------
# sections
------------------------------------*/
// linked/unlinked references
$ref_bg: transparent;
$ref_text: setContrast($ref_bg);
$ref_border: none;

$ref_linked-header-color: $ref_text;
$ref_unlinked-header-color: color.adjust($ref_text, $alpha: -0.5);

$ref_linked-border: 1px solid $ref_linked-header-color;
$ref_unlinked-border: 1px solid $ref_unlinked-header-color;
// $ref_header-underline: 1px solid $ref_text;

$ref_item-bg: transparent;
$ref_item-border: none;
$ref_item-border-radius: $roundness;

$ref_item-page-color: $ref_text;
$ref_item-parent-color: $ref_text;

// all pages
$allpages_row-divider: 1px solid $palette_theme-darker;

$allpages_title-bg: $palette_accent-lighter;
$allpages_title-text: setContrast($allpages_title-bg);

$allpages_mentions_bg: $palette_accent;
$allpages_mentions-text: setContrast($allpages_mentions_bg);
