/*------------------------------------
# Custom Block Display Tags
------------------------------------*/
.roam-block-container[data-page-links*="display-col-1:2"] > .rm-block-children {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.roam-block-container[data-page-links*="display-col-2:1"] > .rm-block-children {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.roam-block-container[data-page-links*="display-col-2"] > .rm-block-children {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto;
}
.roam-block-container[data-page-links*="display-col-3"] > .rm-block-children {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.roam-block-container[data-page-links*="display-col-5"] > .rm-block-children {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.roam-block-container[data-page-links*="display-col-6"] > .rm-block-children {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.roam-block-container[data-page-links*="display-col-7"] > .rm-block-children {
  // mainly used for weekly display
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  > .rm-block-children .rm-bullet {
    //make bullets lighter
    opacity: 0.1;
  }
}

.roam-block-container[data-page-links*="display-"] .roam-block-container {
  margin: 0px;
  border-left: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.rm-page-ref[data-tag|="display-col"] {
  display: none;
}

/*------------------------------------
# Custom Text Display
------------------------------------*/
// .roam-block-container[data-page-links*="DONE"]
//   .rm-block-main
//   div:nth-child(2)
//   span {
//   text-decoration: line-through;
// }

.roam-block-container[data-page-links*="DONE"] {
  text-decoration: line-through;
}
