/*------------------------------------
# PALETTE (DARK)
------------------------------------*/
$palette_theme-lighter: hsla(213, 61%, 25%);
$palette_theme: hsl(213, 61%, 18%);
$palette_theme-darker: hsl(213, 61%, 5%);

$palette_accent-lighter: hsl(200, 85%, 89%);
$palette_accent: hsl(200, 60%, 76%);
$palette_accent-darker: hsl(200, 42%, 59%);

$palette_accent2: hsl(9, 100%, 78%);

$palette_black: hsl(240, 100%, 3%);
$palette_grey: hsl(187, 6%, 41%);
$palette_white: hsl(200, 16%, 70%);
