/*------------------------------------
# PALETTE (LIGHT)
------------------------------------*/
$palette_theme-lighter: hsl(52, 90%, 82%);
$palette_theme: hsl(40, 100%, 86%);
$palette_theme-darker: hsl(32, 90%, 80%);

$palette_accent-lighter: hsl(9, 90%, 83%);
$palette_accent: hsl(9, 100%, 75%);
$palette_accent-darker: hsl(9, 90%, 68%);

$palette_accent2: hsl(208, 57%, 69%);

$palette_black: hsl(25, 35%, 20%);
$palette_grey: hsl(25, 32%, 43%);
$palette_white: hsl(9, 100%, 100%);
// $palette_white: hsl(0, 0%, 100%);
