/*------------------------------------
# PALETTE (LIGHT)
------------------------------------*/
$palette_theme-lighter: hsl(62, 100%, 87%);
$palette_theme: hsl(45, 100%, 84%);
$palette_theme-darker: hsl(30, 90%, 76%);

$palette_accent-lighter: hsl(9, 100%, 86%);
$palette_accent: hsl(9, 100%, 78%);
$palette_accent-darker: hsl(9, 90%, 71%);

$palette_black: hsl(25, 35%, 20%);
$palette_grey: hsl(25, 32%, 43%);
// $palette_white: hsl(9, 100%, 96%);
$palette_white: hsl(0, 0%, 100%);
