/*------------------------------------
# general / global
------------------------------------*/
$main_bg: $palette_theme-darker;
$main_text-color: setContrast($main_bg);
$main_subtle-color: color.change(setContrast($main_bg), $alpha: 0.08);

// fonts
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
$font-fallback: Verdana, sans-serif;
$font-size_small: 10px;
$font-size_regular: 15px;
$font-size_large: 30px;

@mixin font_family {
  font-family: "Ubuntu", $font-fallback;
}
@mixin font_main {
  font-family: "Ubuntu", $font-fallback !important;
  font-weight: 300 !important;
}
@mixin font_italics {
  font-family: "Ubuntu", $font-fallback !important;
  font-weight: 400 !important;
  font-style: italic !important;
}
@mixin font_bold {
  font-family: "Ubuntu", $font-fallback !important;
  font-weight: 700 !important;
}

$block-indent: 22px;
$roundness: 5px;

/*------------------------------------
# main editor
------------------------------------*/
$better-roam: true;

$editor-bg: color.change(setContrast(setContrast($palette_theme)), $alpha: 0.85);
$editor_margin: 20px 30px;

/*------------------------------------
# left sidebar
------------------------------------*/
$leftbar_width: 195px;
// perfect size to fit "graph overview" horizontally = 195px
$leftbar_bg: transparent;
// $bg--shortcuts: linear-gradient(green, black);
$leftbar_divline-color: setContrast($leftbar_bg);
$leftbar_text-color: setContrast($leftbar_bg);
$leftbar_text-color-hover: $palette_grey;

/*------------------------------------
# topbar
------------------------------------*/
$topbar_height: 45px; // default
$topbar_bg: $main_bg;
$topbar_icons-placement: center;

$searchbar-height: 45px;
$searchbar-width: 500px;
$searchbar-left: 55vw;
$searchbar-top: 27vh;
$searchbar-padding-tb: 10px;
$searchbar-padding-lr: 20px;
$searchbar-font: 20px;

/*------------------------------------
# right sidebar
------------------------------------*/
$rightbar_bg: transparent;
$rightbar_title-color: setContrast($rightbar_bg);

$resize-handle_size: 1px;
$resize-handle_color: color.change($palette_theme-darker, $alpha: 0.8);

$rightbar_shadow: 0px 0px 0px setContrast($resize-handle_color);

/*------------------------------------
# basic text
------------------------------------*/
$page-title_text-color: setContrast($palette_theme);
$heading1_text-color: setContrast($palette_theme);
$heading2_text-color: setContrast($palette_theme);
$heading3_text-color: setContrast($palette_theme);

$heading_size-factor: 2.2;
$page-title_size: $font-size_large;
$heading1_size: $font-size_regular + 3 * $heading_size-factor;
$heading2_size: $font-size_regular + 2 * $heading_size-factor;
$heading3_size: $font-size_regular + 1 * $heading_size-factor;

$blockquote_bg: $palette_theme;
$blockquote_text-color: setContrast($blockquote_bg);
$blockquote_border: 6px solid color.adjust($blockquote_text-color, $alpha: -0.3);

$highlight_bg: color.adjust($palette_accent, $alpha: -0.2);
$highlight_text-color: setContrast($palette_accent);
$highlight_padding: 0.5px 3px;

$hr-line: 0.8px dashed color.change($palette_accent-darker, $alpha: 0.7);

/*------------------------------------
# bullets
------------------------------------*/
// bullets
$bullet_color: $palette_accent;
$bullet_border-closed: 4px solid
  color.adjust($palette_accent-darker, $alpha: -0.5);

// nesting line
$treeline-width: 1px;
$treeline-style: solid;
$treeline-color: color.change(setContrast($palette_theme), $alpha: 0.8);

/*------------------------------------
# checkboxes
------------------------------------*/
$checkbox_top: -1px;
$checkbox_left: -2px;
$checkbox_height: 14px;
$checkbox_width: 14px;

$checkbox_border-radius: $roundness;
$checkbox_border-notdone: 1px solid red;
$checkbox_border-done: 1px solid $palette_accent-darker;

$checkbox_bg-notdone: transparent;
$checkbox_bg-done: green;

$checkbox_symbol-color: setContrast($checkbox_bg-done);
$checkbox_symbol: "✓";

/*------------------------------------
# bidirectional linking
------------------------------------*/
// glyph
$add-glyph: true;

// general links
$link-internal_text: $palette_accent-darker;
$link-internal_text-hover: color.adjust($link-internal_text, $lightness: +0.2);

$link-external_text: $palette_accent; // includes regular hyperlinks
$link-external_text-hover: color.adjust($palette_accent, $lightness: -0.1);

// page links (internal)
$page-link_text: $link-internal_text;
$page-link_hover: $link-internal_text-hover;
$page-link_brackets: color.adjust($page-link_text, $alpha: -0.3);

// alias links (internal & external)
$alias-internal_text: $link-internal_text;
$alias-internal_text-hover: $link-internal_text-hover;
$alias-external_text: $link-external_text;
$alias-external_text-hover: $link-external_text-hover;

// block refs
$block-ref_bg: color.change($palette_accent, $alpha: 0.07);
$block-ref_text: setContrast($main_bg);
$block-ref_text-decoration: none;

$block-ref_bg-hover: color.change($block-ref_bg, $alpha: 0.3);
$block-ref_text-hover: setContrast($main_bg);
$block-ref_text-decoration-hover: dotted underline $block-ref_text-hover 1px; //  <'text-decoration-line'> || <'text-decoration-style'> || <'text-decoration-color'> || <'text-decoration-thickness'>

// attributes
$attribute_color: setContrast($palette_theme);

// tags
$tag_bg: color.change($palette_grey, $alpha: 0.05);
$tag_text-color: $palette_grey;

$tag_bg-hover: color.change($palette_grey, $alpha: 0.5);
$tag_text-color-hover: setContrast($tag_bg-hover);

$tag_text-decoration: none;
$tag_text-decoration-hover: none;

$tag_border: 0px solid color.adjust($palette_grey, $alpha: -0.3);
$tag_border-hover: 0px solid
  color.adjust(color.change($palette_grey, $alpha: 0.2), $lightness: -0.3);

$tag_border-radius: 0px;
$tag_padding: 2px 2px;

/*------------------------------------
# blocks
------------------------------------*/
// block highlights
$block_highlight-main: $palette_accent;
$block_highlight-linked: $palette_accent;
$block_highlight-linked-text: setContrast($palette_accent);
$block_highlight-embed: $block-ref_bg;

/*------------------------------------
# icons
------------------------------------*/
$icons_bg: color.adjust($palette_theme-darker, $alpha: -0.3);
$icons_bg-hover: $palette_accent-lighter;
$icons_color: setContrast($icons_bg);
$icons_color-hover: setContrast($icons_bg-hover);
$icons_border-radius: 3px;
$icons_size: 24px;

/*------------------------------------
# popups
------------------------------------*/
// hover popups
$popover_bg: color.change(
  $icons_bg-hover,
  $alpha: 1
); // needs to be non-transparent
$popover_bg-hover: $palette_accent;
$popover_text: setContrast($popover_bg);
$popover_text-hover: setContrast($popover_bg-hover);
$popover_border: 1px solid setContrast($popover_bg-hover);

// menus
$menu_bg: color.change($icons_bg, $alpha: 1); // needs to be non-transparent
$menu_bg-hover: $palette_accent;
$menu_text: setContrast($menu_bg);
$menu_text-hover: setContrast($menu_bg-hover);
$menu_border: 1px solid setContrast($menu_bg-hover);

// page filter popup
$page-filter-btns-bg: $popover_bg;
$page-filter-btns-bg-hover: color.adjust($popover_bg, $lightness: 15%);
$page-filter-btns-text: $popover_text;
$page-filter-btns-text-hover: setContrast($page-filter-btns-bg-hover);

/*------------------------------------
# features
------------------------------------*/
// query
$query_border-color: $palette_theme;
$query_padding-bottom: 5px;
$query-title_bg: $palette_theme;
$query-title_text: setContrast($query-title_bg);

// kanban
$kanban_board-bg: transparent;
$kanban_board-border: setContrast($palette_theme);

$kanban_title-div: 1px solid setContrast($palette_theme);
$kanban_col-bg: transparent;
$kanban_col-drag-bg: $palette_theme-lighter;

$kanban_card-bg: $palette_theme;
$kanban_card-shadow: 5px 5px 10px
  color.change($palette_accent-lighter, $alpha: 0.3); /* offset-x | offset-y | blur-radius | color */
$kanban_card-border: 1px solid setContrast($palette_theme);

// table
$table_border: 1px solid setContrast($palette_theme);

// datepicker
$datepicker_bg: $palette_theme;
$datepicker_text: setContrast($datepicker_bg);

// for things inside
$datepicker_hover-bg: color.change($palette_accent, $alpha: 0.3);
$datepicker_hover-text: $palette_accent-lighter;

// days
$datepicker_today-bg: $palette_accent; // today
$datepicker_weekday: $palette_accent-darker;
$datepicker_month-day: $palette_accent-lighter;
$datepicker_nonmonth-day: color.change($palette_accent, $alpha: 0.5);

// code
$code-inline_bg: #222629;
$code-inline_font: "Source Code Pro", "Courier New", Courier, monospace;
$code-inline_font-color: #dcdedd;
$code-inline_font-size: 1em;
$code-inline_border: 1px solid #34373b;

$codemirror_bg: #222629;
$codemirror_border-color: #323438;
$codemirror_border-radius: 3px;
$codemirror_linenumber: #515355;
$code-inline_matchingbracket-color: #ead64c;

$codemirror_comment: #7f848e;
$codemirror_def: #d19a66;
$codemirror_keyword: #c678dd;
$codemirror_callee: #56b6c2;
$codemirror_operator: #56b6c2;
$codemirror_builtin: #56b6c2;
$codemirror_string: #98c379;
$codemirror_variable-3: #56b6c2;
$codemirror_variable-2: #e06c75;
$codemirror_variable: #e5c07b;
$codemirror_tag: #e06c75;
$codemirror_property: #61afef;
$codemirror_number: #d19a66;
$codemirror_atom: #d19a66;
$codemirror_qualifier: #d19a66;

$code-activeline_bg: color.change($palette_grey, $alpha: 0.3); //todo
/*------------------------------------
# sections
------------------------------------*/
// linked/unlinked references
$ref_bg: transparent;
$ref_text: setContrast($ref_bg);
$ref_border: none;

$ref_linked-header-color: $ref_text;
$ref_unlinked-header-color: color.adjust($ref_text, $alpha: -0.5);

$ref_linked-border: 1px solid $ref_linked-header-color;
$ref_unlinked-border: 1px solid $ref_unlinked-header-color;
// $ref_header-underline: 1px solid $ref_text;

$ref_item-bg: transparent;
$ref_item-border: none;
$ref_item-border-radius: $roundness;

$ref_item-page-color: $ref_text;
$ref_item-parent-color: $ref_text;

// all pages
$allpages_row-divider: 1px solid $palette_theme-darker;

$allpages_title-bg: $palette_accent-lighter;
$allpages_title-text: setContrast($allpages_title-bg);

$allpages_mentions_bg: $palette_accent;
$allpages_mentions-text: setContrast($allpages_mentions_bg);

/*------------------------------------
# extra
------------------------------------*/
$roamtoolkit_block-highlight: color.adjust($block_highlight-main, $alpha: -0.3);
