/*------------------------------------
# RESET SITE SETTINGS
------------------------------------*/
html,
body {
  @include font-family;
  font-size: $font-size_regular;
  line-height: 1.2em;
  background: $main_bg;
  color: $main_text-color;
}

ol,
ul {
  margin-top: initial;
}

.roam-body .roam-app h1 {
  color: unset;
}

div
// span
{
  //   font: inherit;
  //   color: inherit;
  //   background: transparent;
  //   text-decoration: inherit;
  // max-width: 100%;
}

div[style="position: absolute; z-index: 1000; top: 0px; right: 0px; opacity: 0.5;"] {
  //code block button
  z-index: 3 !important;
}

.roam-block-container,
.rm-block-text {
  max-width: 100%;
}

// block spacing
.roam-article > div:first-child .roam-block-container {
  margin-top: 7px;
  margin-bottom: 7px;
}
.roam-block-container .rm-block-main .rm-block-separator {
  min-width: 10px;
  // display:none;
}
// .roam-block {
// }

// indent size
.roam-block-container > .rm-block-children {
  margin-left: $block-indent;
}

.roam-block-container.rm-block.rm-block--open.rm-not-focused.block-bullet-view.block-border-left {
  padding-right: 5px; // make space for ref count button
}

.kanban-board {
  max-width: none;
  overflow: scroll;
}

.rm-full-width {
  margin-right: 0%;
}

.rm-zoom.zoom-path-view {
  margin-top: 0px !important;
}

[style^="margin-left: -27px"] {
  margin-left: 0px !important;
}
