// $palette_theme: hsl(213, 61%, 10%);
// $palette_theme-lighter: hsla(213, 61%, 15%);
// $palette_theme-darker: hsl(213, 61%, 5%);

// $palette_accent: hsl(200, 60%, 76%, 0.5);
// $palette_accent-lighter: hsla(200, 85%, 89%, 0.5);
// $palette_accent-darker: hsla(200, 42%, 59%, 0.5);

// $palette_black: hsl(240, 100%, 3%);
// $palette_grey: hsl(187, 6%, 41%);
// $palette_white: hsl(200, 16%, 70%);

$palette_theme: hsl(210, 6%, 13%);
$palette_theme-lighter: hsl(216, 6%, 15%);
$palette_theme-darker: hsl(210, 6%, 7%);

$palette_accent: hsl(204, 83%, 73%);
$palette_accent-lighter: hsl(204, 83%, 80%);
$palette_accent-darker: hsla(204, 83%, 40%);

$palette_black: hsl(240, 100%, 3%);
$palette_grey: rgb(105, 105, 105);
$palette_white: hsl(200, 10%, 60%);
