/*------------------------------------
# general
------------------------------------*/
$roundness: 5px;

$main_subtle-color: color.change($palette_theme, $alpha: 0.08);
$main_bg: $palette_theme-darker;
$main_text-color: setContrast($palette_theme);

/*------------------------------------
# left sidebar
------------------------------------*/

/*------------------------------------
# topbar
------------------------------------*/
$topbar_bg: $main_bg;
/*------------------------------------
# main editor
------------------------------------*/

/*------------------------------------
# right sidebar
------------------------------------*/

/*------------------------------------
# text
------------------------------------*/

/*------------------------------------
# components
------------------------------------*/
/* checkboxses & todos */
$checkbox_top: -1px;
$checkbox_left: -2px;
$checkbox_height: 14px;
$checkbox_width: 14px;

$checkbox_border-radius: $roundness;
$checkbox_border-notdone: 1px solid red;
$checkbox_border-done: 1px solid $palette_accent-darker;

$checkbox_bg-notdone: transparent;
$checkbox_bg-done: green;

$checkbox_symbol-color: setContrast($checkbox_bg-done);
$checkbox_symbol: "✓";

/*------------------------------------
# bidirectional linking
------------------------------------*/
$add-glyph: false;

/* tags */
$tag_bg: transparent;
$tag_text-color: $palette_grey;

$tag_bg-hover: $palette_grey;
$tag_text-color-hover: setContrast($tag_bg-hover);

$tag_text-decoration: none;
$tag_text-decoration-hover: none;

$tag_border: 1px solid color.adjust($palette_grey, $alpha: -0.3);
$tag_border-hover: 1px solid
  color.adjust(color.adjust($palette_grey, $alpha: -0.3), $lightness: -0.3);

$tag_border-radius: 10px;
$tag_padding: 2px 3px;

/*------------------------------------
# features
------------------------------------*/

/*------------------------------------
# sections
------------------------------------*/
