/*-------------------------
# FONTS
-------------------------*/
// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$font-fallback: Verdana, sans-serif;

@mixin font_family {
  font-family: "Ubuntu", $font-fallback !important;
}

@mixin font_title {
  font-family: "Ubuntu", $font-fallback;
  font-weight: 700;
  font-size: 30px !important;
}

@mixin font_heading($num) {
  font-family: "Ubuntu", $font-fallback;
  font-weight: 700;
  font-size: 20px + $num * 1.5;
}

@mixin font_body {
  font-family: "Ubuntu", $font-fallback;
  font-weight: 300;
  font-size: 15px;
}

@mixin font_italics {
  font-family: "Ubuntu", $font-fallback;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
}

@mixin font_bold {
  font-family: "Ubuntu", $font-fallback;
  font-weight: 700;
  font-size: 15px;
}
