$palette_theme: hsl(213, 61%, 15%);
$palette_theme-lighter: hsla(213, 61%, 30%);
$palette_theme-darker: hsl(213, 61%, 5%);

$palette_accent: hsl(200, 60%, 76%);
$palette_accent-lighter: hsla(200, 85%, 89%, 1);
$palette_accent-darker: hsla(200, 52%, 59%, 1);

$palette_black: hsl(240, 100%, 3%);
$palette_grey: hsl(187, 6%, 31%);
$palette_white: hsl(200, 16%, 93%);
