/* Title, Heading, Body */
.rm-title-display {
  @include font-title($textcolor--title);
}
.rm-heading-level-1 {
  @include font-heading($textcolor--heading1, 1);
}
.rm-heading-level-2 {
  @include font-heading($textcolor--heading2, 2);
}
.rm-heading-level-3 {
  @include font-heading($textcolor--heading3, 3);
}
.rm-block {
  @include font-body($textcolor--body);
}

/* Attributes */
.rm-attr-ref {
  @include font-bold($textcolor--attribute);
}

/* Bullets */
@mixin bullet-open {
}

@mixin bullet-closed {
}
@mixin nesting-line {
}

.rm-bullet {
  &__inner {
    /* bullet */
    @include bullet-open;
  }
  .block-border-left {
    /* nesting line */
    @include nesting-line;
  }
}

/* Links */
@mixin link-page-text {
  color: $palette--accent-lighter;
  &:hover,
  &:focus {
  }
}
@mixin link-brackets {
}
.rm-page-ref {
  &--link {
    @include link-page-text;
  }
  &__brackets {
    @include link-brackets;
  }
}

/* Block References */
@mixin link-block-text {
  &:hover,
  &:focus {
  }
}
@mixin link-alias {
  &:hover,
  &:focus {
  }
}
@mixin link-embed {
}




/* external link */
@mixin link-external {
  &:hover,
  &:focus {
  }
}
a {
  @include link-external;
}

/* alias link */
span [style*="background-color: rgb(235, 241, 245);"] {
  background-color: #00000000 !important;
}
span [style*="color: rgb(245, 86, 86);"] {
  color: var(--page-link-color) !important;
}
span:hover [style*="color: rgb(245, 86, 86);"] {
  color: var(--alias-hover-color) !important;
}
span [style*="padding: 4px 6px;"] {
  /* alias padding to match body text */
  padding: 0px 0px !important;
}

/* Checkbox */
@mixin not-done-checkbox {
}
@mixin done-checkbox {
}

// .checkmark {
//   /* todo */
//   position: absolute;
//   top: var(--checkmark-top);
//   left: var(--checkmark-left);
//   height: var(--checkmark-height);
//   border-radius: var(--checkmark-border-radius);
//   width: var(--checkmark-width);
//   border: var(--checkmark-border);
//   background-color: var(--checkmark-bg-color);
// }
// input:checked ~ .checkmark {
//   /* done */
//   position: absolute;
//   top: var(--checkmark-top);
//   left: var(--checkmark-left);
//   height: var(--checkmark-height);
//   border-radius: var(--checkmark-border-radius);
//   width: var(--checkmark-width);
//   border: var(--checkedmark-border);
//   background-color: var(--checkedmark-bg-color);
// }
// .check-container .checkmark:after {
//   /* done check symbol */
//   left: 3.5px;
//   top: 0.25px;
//   width: 6px;
//   height: 10px;
//   border: var(--checkmark-color);
//   border-width: 0 2px 2px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(40deg) scale(0.8);
// }
