/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
.roam-main {
  background: $background--main;
}
.roam-topbar {
  background: $background--topbar;
}
.roam-sidebar-content {
  background: $background--left;
}
#roam-right-sidebar-content {
  background: $background--right;
}

/*--------------------------------------------------------------
# Left Sidebar
--------------------------------------------------------------*/
// .roam-sidebar-container
.roam-sidebar-content {
  .top-row {
    // graph name
  }
  .log-button {
    // TODO add customizable icons
    /* general navigations */
    color: $palette--white !important;
  }
  .starred-pages-wrapper {
    background: $background--shortcuts; // background of full shotcut section
    color: $palette--white !important; // "★ SHORTCUTS" title
    // #{division-bar()} {
    // }
    > div:nth-child(1) {
      /* horizontal division line */
      flex: 0 0 10px !important;
      background-color: $palette--white !important;
    }
    > div:nth-child(2) {
      /* div padding */
      display: none;
    }
  }

  .page {
    /* left side bar pages */
    color: $palette--white !important;
  }
  #roam-sidebar-logo {
    /* hide Roam Research logo */
    display: none;
  }
}

/*--------------------------------------------------------------
# Right Sidebar
--------------------------------------------------------------*/
#roam-right-sidebar-content
// > .sidebar-content
{
  .window-headers {
    // "Block Outline" title
  }
}

.rm-resize-handle {
}
/*--------------------------------------------------------------
# All Pages
--------------------------------------------------------------*/
.rm-all-pages {
  .rm-pages-title-col {
    
  }

}
.button-disabled-strong {
  // trash & export icon in "all pages"
  opacity: 1; // override Roam Research settings
}

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
[class*="bp3-icon"]::before {
  // TODO separate this for left sidebar, main, right sidebar?
  // all icon color
  color: $palette--white !important;
  :hover {
    color: $palette--accent;
  }
}
/*--------------------------------------------------------------
# Popups
--------------------------------------------------------------*/


/* search and multiselect menus */
.bp3-menu {
    background-color: $background--popover;
    color: white;
}

/* top-right toolbar popover */
.bp3-popover {
   // popup title colors
  color: $palette--theme;
  & > &-content {
    // background
    background-color: $background--popover;
    color: white;
  }
  & &-arrow{
    &-fill {
    // background
    fill: $background--popover;
    }
    &-border {
      //tiny border
      fill: $palette--accent; //TODO make this and $background--popover contrast
    }
  }
  .bp3-button {
    // tag selection buttons
    color: red !important;
    &:hover {
      color: blue !important;
    }
  }
}

#{popover-selector()} {
  // TODO fix brute force style popovers
  color: $palette--theme;
  div > div > .flex-h-box div > div > span,
  div > div > .flex-h-box div > div > strong,
  div > div > div > button,
  > ul > div {
    color: $palette--theme;
    &:hover {
      color: $palette--accent;
    }
  }
}
