/*------------------------------------
# PALETTE
------------------------------------*/
// $palette_theme: hsl(213, 61%, 40%);
// $palette_theme-lighter: hsla(213, 61%, 60%);
// $palette_theme-darker: hsl(213, 61%, 28%);

// $palette_accent: hsl(200, 60%, 76%);
// $palette_accent-lighter: hsla(200, 85%, 89%, 1);
// $palette_accent-darker: hsla(200, 52%, 59%, 1);

// $palette_black: #000010;
// $palette_grey: #4b5354;
// $palette_white: #e9edef;

$palette_theme: hsl(213, 61%, 18%);
$palette_theme-lighter: hsla(213, 61%, 25%);
$palette_theme-darker: hsl(213, 61%, 5%);

$palette_accent: hsl(200, 60%, 76%);
$palette_accent-lighter: hsla(200, 85%, 89%, 1);
$palette_accent-darker: hsla(200, 42%, 59%, 1);

$palette_black: hsl(240, 100%, 3%);
$palette_grey: hsl(187, 6%, 41%);
$palette_white: hsl(200, 16%, 70%);

/*-------------------------
# FONTS
-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$font-fallback: Verdana, sans-serif;
$font-small: 10px;
$font-regular: 15px;
$font-large: 30px;

@mixin font_family {
  font-family: "Ubuntu", $font-fallback;
}

@mixin font_main {
  font-family: "Ubuntu", $font-fallback !important;
  font-weight: 300 !important;
}
@mixin font_italics {
  font-family: "Ubuntu", $font-fallback !important;
  font-weight: 400 !important;
  font-style: italic !important;
}
@mixin font_bold {
  font-family: "Ubuntu", $font-fallback !important;
  font-weight: 700 !important;
}

