/*------------------------------------
# RIGHT SIDEBAR
------------------------------------*/
// resize handle
#right-sidebar .rm-resize-handle {
  background: $resize-handle_color;
  min-width: 1px;
  width: $resize-handle_size;
}
// shift content for resize handle
#right-sidebar {
  > .flex-h-box > button,
  #roam-right-sidebar-content {
    margin-left: $resize-handle_size + 4px; // width of resize handle
  }
}

// remove div before close sidebar button
#right-sidebar > .flex-h-box > div[style*="flex:"] {
  display: none;
}

#right-sidebar #roam-right-sidebar-content .bp3-button {
  min-width: 20px;
  min-height: 20px;
  margin: 2px !important;
}

#right-sidebar {
  border: none !important;
  transition: none !important;
  overflow: hidden !important;
  .hoverparent,
  .react-resizable {
    max-width: 100% !important;
    img {
      max-width: 100% !important;
    }
  }

  // text & blocks
  .window-headers div span {
    color: $rightbar_title-color;
  }
  h1 {
    font-size: 18px !important;
  }
  #roam-right-sidebar-content {
    // margin-left: -6px !important;
    > div[style] {
      border-bottom: 1px solid $main_subtle-color !important;
    }
    .sidebar-content {
      > div > div[style*="border-bottom"] {
        border-bottom: 1px solid $main_subtle-color !important;
      }
    }
  }
  .rm-block-text {
    font-size: 14.5px !important;
  }

  // icons
  [class~="bp3-icon"],
  .bp3-button.bp3-minimal {
    &:before {
      color: $icons_color;
      background: transparent;
    }
    &.pinned:before {
      color: red !important;
    }
  }
  .bp3-icon-filter,
  .bp3-icon-search {
    color: $icons_color !important;
  }
  [class~="bp3-icon"]:not(.bp3-icon-filter):not(.bp3-icon-search),
  .bp3-button.bp3-minimal {
    border-radius: 3px;
    transition: none;
    background: $icons_bg !important;
    &:before {
      color: setContrast($icons_bg) !important;
    }
    &:hover {
      background: $icons_bg-hover !important;
      &:before {
        color: setContrast($icons_bg-hover) !important;
      }
    }
  }
}

//later
// #right-sidebar .flex-h-box > div:nth-child(2) strong {
//   /* Right sidebar bold links color */
//   color: $main-font-color;
// }
