/*------------------------------------
# TOPBAR
------------------------------------*/
// style topbar
.rm-topbar {
  background: $topbar_bg;
}

// remove official spacers
.rm-topbar__spacer-sm {
  display: none;
}

// XXX HACK
/* make search popover */
// layout
.rm-topbar .rm-find-or-create-wrapper {
  // match size and positions
  input#find-or-create-input:focus,
  .bp3-overlay {
    opacity: 1 !important;
    position: fixed !important;
    left: $searchbar-left !important;

    /* place at front of page */
    z-index: 999999;

    /* center */
    transform: translate(-50%, 0) !important;
  }
  // size input
  input#find-or-create-input:focus {
    box-sizing: content-box;
    top: $searchbar-top !important;
    height: $searchbar-height !important;
    width: $searchbar-width !important;
    font-size: $searchbar-font;
    padding: $searchbar-padding-tb $searchbar-padding-lr; // padding around placeholder text
  }
  // size dropdown menu
  .bp3-overlay {
    top: calc(
      #{$searchbar-top} + #{$searchbar-height} + 2 * #{$searchbar-padding-tb}
    );
    width: calc(
      #{$searchbar-width} + 2 * #{$searchbar-padding-lr} + 2px - 2px
    ); // 2px for border
    > .bp3-transition-container {
      transform: none !important; // turn off animation
    }
  }
}
// appearance
.rm-topbar .rm-find-or-create-wrapper {
  // style input
  input#find-or-create-input:focus {
    background: $palette_theme;
    color: setContrast($palette_theme);
    &::placeholder {
      color: color.adjust(setContrast($palette_theme), $alpha: -0.5);
    }
  }
  // style dropdown menu
  .bp3-overlay .bp3-menu {
    //todo use vars
    background: $palette_theme !important;
    > div:first-child {
      // recent
      background: $palette_theme !important;
      color: setContrast($palette_theme) !important;
      // display: none; //todo: show "new page", hide "recent"
    }
    .rm-menu-item {
      background: $palette_theme;
      color: setContrast($palette_theme);
      &[style*="background-color"] {
        // selected menu item
        background: $palette_accent !important;
        color: setContrast($palette_accent) !important;
      }
    }
  }

  // style borders
  .bp3-popover-target input#find-or-create-input:focus {
    // border-radius: 10px 10px 10px 10px;
    border-radius: 0px 0px 0px 0px;
  }
  .bp3-popover-target.bp3-popover-open input#find-or-create-input:focus {
    // round top corners only to match dropdown (if dropdown menu is showing)
    // border-radius: 10px 10px 0px 0px;
    // border: 1px solid white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .bp3-overlay.bp3-overlay-open .bp3-popover {
    border-radius: 0px;
    box-shadow: none;
    // border: 1px solid white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    &,
    & > .bp3-popover-content,
    & > .bp3-popover-content > .bp3-menu,
    & > .bp3-popover-content > .bp3-menu > .rm-menu-item:last-child {
      // make bottom round
      // border-radius: 0px 0px 10px 10px !important;
    }
  }

  // style shadows
  input#find-or-create-input:focus {
    // darken every thing else
    box-shadow: 0 0 0 200vh rgba(0, 0, 0, 0.384) !important;
  }
}
// XXX HACK

/* make all elements look like a button */
.rm-topbar {
  justify-content: $topbar_icons-placement;

  > div,
  > span {
    height: $icons_size;
    width: $icons_size;
    margin: 5px; //icons margin
  }

  // roam sync icon
  .rm-saving-icon {
    height: $icons_size;
    width: $icons_size;
    margin: 0px;
    padding: 0px;
    border-radius: $icons_border-radius;
  }
  .rm-saving-inner-icon {
    height: 10px !important;
    width: 10px !important;
  }

  // search button hack
  .rm-find-or-create-wrapper {
    flex: unset !important;
    transition: none;
    border-radius: $icons_border-radius;
    background: $icons_bg;
    .bp3-icon-search {
      // place icon in center
      padding: 4px;
      margin: 0px !important;
      color: $icons_color;
    }
    &:hover {
      .bp3-icon-search {
        color: $icons_color-hover;
      }
      background: $icons_bg-hover;
    }

    // make input clickable
    input#find-or-create-input {
      height: $icons_size !important;
      width: $icons_size !important;
      padding: 0px;
      margin: 0px;

      opacity: 0; // hide
      z-index: 10000; // bring in front of icon to keep clickable

      cursor: pointer;
    }
  }

  // buttons
  .bp3-button.bp3-minimal {
    background: $icons_bg;
    .bp3-icon-filter:before, // filter icon
    &:before // other icons
    {
      background: transparent;
      color: $icons_color;
    }
  }
  .bp3-button.bp3-minimal:hover {
    background: $icons_bg-hover;
    .bp3-icon-filter:before, // filter icon
      &:before // other icons
    {
      // filter icon
      background: transparent;
      color: setContrast($icons_bg-hover) !important;
    }
  }
}
