/*-------------------------
# GLOBAL SETUP
-------------------------*/
// body:not([class|="CodeMirror"]:not([class~="rm-block"])) {
//   .roam-sidebar-content {
//     background: black;
//     color: white;
//   }
//   .roam-topbar,
//   .roam-body-main {
//     background: white;
//     color: black;
//   }
//   #roam-right-sidebar-content {
//     background: black;
//     color: white;
//   }
//   .roam-sidebar-content,
//   .roam-body-main,
//   #roam-right-sidebar-content,
//   .roam-topbar {
//     * {
//       font: inherit;
//       color: inherit;
//       background: inherit;
//       opacity: 100%;
//     }
//   }
// }

#app {
  min-height: minmax(10px, min-content);
  min-width: minmax(10px, min-content);
  overflow: scroll;
  max-height: 100%;
  max-width: 100%;
}

$rm-block-selector: ".rm-block, .roam-block, .roam-block-container";

/*------------------------------------------
# workspace
------------------------------------------*/
.roam-sidebar {
  
}
/*------------------------------------------
# clickables
------------------------------------------*/

/*------------------------------------------
# blocks
------------------------------------------*/
