/*--------------------------------------------------------------
# Workspace
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Basic
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$font--fallback: Verdana, sans-serif;

@mixin font-display {
  line-height: 1.2;
  // margin-top: 2px;
}
@mixin font-title {
  font-family: "Ubuntu", $font--fallback;
  font-weight: 700;
  font-size: 36px;
  color: $text--title !important;
  @include font-display;
}
@mixin font-heading($num) {
  font-family: "Ubuntu", $font--fallback;
  font-weight: 700;
  font-size: 36px - math.pow($num, 2) * 1.75;
  color: color.adjust(
    $text--heading1,
    $alpha: -0.1 * $num * 1.3
  ); //TODO make this work with all three headings
  @include font-display;
}
@mixin font-body {
  font-family: "Ubuntu", $font--fallback;
  font-weight: 300;
  font-size: 15px;
  color: $text--body;
  @include font-display;
}
@mixin font-italics {
  font-family: "Ubuntu", $font--fallback;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  color: $text--italics;
  @include font-display;
}
@mixin font-bold {
  font-family: "Ubuntu", $font--fallback;
  font-weight: 700;
  font-size: 15px;
  color: $text--bold;
  @include font-display;
}
@mixin font-attribute {
  @include font-bold;
  color: $text--attribute;
}

/* Links */
@mixin link-page-text {
  color: $palette--accent-lighter;
  &:hover,
  &:focus {
  }
}
@mixin link-block-text {
  &:hover,
  &:focus {
  }
}
@mixin link-alias {
  &:hover,
  &:focus {
  }
}
@mixin link-embed {
}
@mixin link-brackets {
}
@mixin link-external {
  &:hover,
  &:focus {
  }
}

/* Bullets */
@mixin bullet-open {
}

@mixin bullet-closed {
}
@mixin nesting-line {
}

/* Checkbox */
@mixin not-done-checkbox {
}
@mixin done-checkbox {
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
