/*** LAYOUT ***/

/*** APPEARANCE ***/
/*--------------------------------------------------------------
# Palette
--------------------------------------------------------------*/
$palette--theme: #264653;
$palette--theme-lighter: #2a9d8f;
$palette--theme-darker: #14232a;
$palette--neutral: #e9c772;
$palette--neutral-lighter: ##fdf6ed;
$palette--neutral-darker: #f4a261;
$palette--accent: #e76f51;
$palette--accent-lighter: #e9c772;
$palette--accent-darker: #e9c772;
$palette--black: #222222;
$palette--white: #ffffff;
$palette--grey: #f5f5f5;

/*--------------------------------------------------------------
# Basic
--------------------------------------------------------------*/
$background--main: $palette--theme-darker;
$background--topbar: $palette--theme-darker;
$background--left: $palette--theme-darker;
$background--right: $palette--theme-darker;
$background--shortcuts: $palette--theme;
$background--checkmark-checked:$palette--grey;
$background--checkmark-nonchecked:$palette--accent;
$background--popover: $palette--theme-darker;

$text--pagelinks: $palette--accent-lighter;
$text--references:$palette--white;
$text--body: $palette--white;
$text--title: $palette--white;
$text--heading1: $palette--white;
$text--heading2: $palette--white;
$text--heading3: $palette--white;
$text--popover: $palette--white;
$text--bold: $palette--white;
$text--italics: $palette--white;
$text--highlight: $palette--white;

$color--icons
$color--bullet

$border--checkmark
$border--bullet
$border--nestline

