// light theme
$palette_theme: hsl(213, 61%, 40%);
$palette_theme-lighter: hsla(213, 61%, 60%);
$palette_theme-darker: hsl(213, 61%, 28%);

$palette_accent: hsl(200, 60%, 76%);
$palette_accent-lighter: hsla(200, 85%, 89%);
$palette_accent-darker: hsla(200, 60%, 60%);

$palette_black: #000010;
$palette_grey: #4b5354;
$palette_white: #e9edef;

// dark theme
@media (prefers-color-scheme: dark) {
  $palette_theme: hsl(213, 61%, 18%);
  $palette_theme-lighter: hsla(213, 61%, 25%);
  $palette_theme-darker: hsl(213, 61%, 5%);

  $palette_accent: hsl(200, 60%, 76%);
  $palette_accent-lighter: hsla(200, 85%, 89%);
  $palette_accent-darker: hsla(200, 42%, 59%);

  $palette_black: hsl(240, 100%, 3%);
  $palette_grey: hsl(187, 6%, 41%);
  $palette_white: hsl(200, 16%, 70%);
}
