/*------------------------------------
# PALETTE (LIGHT)
------------------------------------*/
$palette_theme: hsl(213, 61%, 40%);
$palette_theme-lighter: hsla(213, 61%, 60%);
$palette_theme-darker: hsl(213, 61%, 28%);

$palette_accent: hsl(200, 60%, 76%);
$palette_accent-lighter: hsla(200, 85%, 89%, 1);
$palette_accent-darker: hsla(200, 52%, 59%, 1);

$palette_black: #000010;
$palette_grey: #4b5354;
$palette_white: #e9edef;