@charset "UTF-8";
/*------------------------------------
# Custom Block Display Tags
------------------------------------*/
.roam-article .roam-block-container[data-page-links~='["display_col"]'] > .rm-block-children {
  display: grid;
  align-items: start;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minimax(150px, 1fr));
}
.roam-article .roam-block-container[data-page-links*=display_col-2] > .rm-block-children {
  display: grid;
  align-items: start;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
}
.roam-article .roam-block-container[data-page-links*="display_col-1:2"] > .rm-block-children {
  display: grid;
  align-items: start;
  justify-content: space-evenly;
  grid-template-columns: 1fr 2fr;
}
.roam-article .roam-block-container[data-page-links*="display_col-2:1"] > .rm-block-children {
  display: grid;
  align-items: start;
  justify-content: space-evenly;
  grid-template-columns: 2fr 1fr;
}
.roam-article .roam-block-container[data-page-links*=display_col-3] > .rm-block-children {
  display: grid;
  align-items: start;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
}
.roam-article .roam-block-container[data-page-links*=display_col-5] > .rm-block-children {
  display: grid;
  align-items: start;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 1fr);
}
.roam-article .roam-block-container[data-page-links*=display_col-6] > .rm-block-children {
  display: grid;
  align-items: start;
  justify-content: space-evenly;
  grid-template-columns: repeat(6, 1fr);
}
.roam-article .roam-block-container[data-page-links*=display_col-7] > .rm-block-children {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(7, 1fr);
}
.roam-article .roam-block-container[data-page-links*=display_col-7] > .rm-block-children > .rm-block-children .rm-bullet {
  opacity: 0.1;
}
.roam-article .roam-block-container[data-page-links*=display_align-start] > .rm-block-children {
  align-items: start;
}
.roam-article .roam-block-container[data-page-links*=display_align-center] > .rm-block-children {
  align-items: center;
}
.roam-article .roam-block-container[data-page-links*=display_align-end] > .rm-block-children {
  align-items: end;
}
.roam-article .roam-block-container[data-page-links*=display_justify-start] > .rm-block-children {
  justify-content: start;
}
.roam-article .roam-block-container[data-page-links*=display_justify-center] > .rm-block-children {
  justify-content: center;
}
.roam-article .roam-block-container[data-page-links*=display_justify-end] > .rm-block-children {
  justify-content: end;
}
.roam-article .roam-block-container[data-page-links*=display_justify-between] > .rm-block-children {
  justify-content: space-between;
}
.roam-article .roam-block-container[data-page-links*=display_justify-around] > .rm-block-children {
  justify-content: space-around;
}
.roam-article .roam-block-container[data-page-links*=display_span-col2] {
  grid-column: span 2;
}
.roam-article .roam-block-container[data-page-links*=display_span-row2] {
  grid-row: span 2;
}
.roam-article .roam-block-container[data-page-links*=display_] .roam-block-container {
  margin: 0px;
  border-left: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.roam-article .roam-block-container[data-page-links*=display_] .roam-block-container .block-border-left {
  border-left: none !important;
}

span.rm-page-ref[data-tag*=display_] {
  display: none;
}

/*------------------------------------
# Custom Text Display
------------------------------------*/
.roam-block-container[data-page-links*=due] .rm-block-main div:nth-child(2) span {
  background: red;
  color: white !important;
}

.roam-block-container[data-page-links*=DONE] {
  text-decoration: line-through;
}

.roam-block-container[data-page-links*=checkbox] .rm-block-main .roam-block:before {
  content: "☐";
  font-size: 20px;
}

.roam-block-container[data-page-links*=checkbox-checked] .rm-block-main .roam-block:before {
  content: "☑";
  font-size: 20px;
}

span.rm-page-ref[data-tag|=checkbox] {
  display: none;
}
