/*------------------------------------
#
# VARIABLES
#
------------------------------------*/
/*------------------------------------
# Workspace
------------------------------------*/
/*** LAYOUT ***/
$leftbar_width: 200px;

// background colors
$background--topbar: $palette--theme-darker;
$background--left: $palette--theme-darker;
$background--main: $palette--theme-darker;
$background--right: $palette--theme;

$background--shortcuts: linear-gradient(
  $background--left 30%,
  $palette--theme-lighter 90%,
  $background--left
);

$background--block-regular: $palette--theme-darker;
$background--block-highlight: $palette--accent-lighter;
$background--checkmark-checked: $palette--grey;
$background--checkmark-nonchecked: $palette--accent;
$background--popover: $palette--theme-darker;
$background--popover-hover: $palette--accent-lighter;
$background--menus: $palette--theme-darker;

// text colors
$textcolor--pagelinks: $palette--accent-lighter;
$textcolor--references: $palette--white;
$textcolor--body: $palette--white;
$textcolor--title: $palette--white;
$textcolor--heading1: $palette--white;
$textcolor--heading2: $palette--white;
$textcolor--heading3: $palette--white;
$textcolor--popover: $palette--white;
$textcolor--bold: $palette--white;
$textcolor--italics: $palette--white;
$textcolor--attribute: $palette--accent-lighter;
$text_highlight-padding: 3px 2px;

$hover--pagelinks: $palette--accent-lighter;
$hover--references: $palette--white;
$hover--body: $palette--white;
$hover--title: $palette--white;
$hover--heading1: $palette--white;
$hover--heading2: $palette--white;
$hover--heading3: $palette--white;
$hover--popover: $palette--white;
$hover--bold: $palette--white;
$hover--italics: $palette--white;
$hover--attribute: $palette--accent-lighter;

$textcolor--highlight: $palette--white;
$background--highlight: $palette--accent;

$color--icons: $palette--white;
$color--bullet: $palette--white;

$border--checkmark: $palette--accent;
$border--bullet: $palette--white;
$border--nestline: $palette--white;

// :root {
//   /* THEME COLORS */
//   --theme-blue-1: #81c6f3;
//   --theme-gray-1: #dcdedd;
//   --theme-white-1: #1e2022;

//   /* PRIMARY FONTS */
//   --main-font: "Inter", sans-serif;
//   --main-font-color: var(--theme-gray-1);
//   --main-font-size: 1em;

//   /* FONT COLORS */

//   /* BACKGROUNDS & OUTLINES */

//   --body-bg: var(--theme-white-1);
//   --topbar-bg: rgba(30, 32, 34, 0);
//   --topbar-border-bottom: 0px solid #32343880;
//   --left-sidebar-bg: #242629;
//   --left-sidebar-border-right: 0px solid rgb(54, 56, 60);
//   --left-sidebar-divider-color: #45474a00;
//   --right-sidebar-bg: var(--theme-white-1);
//   --right-sidebar-border-left: 2px solid hsla(220, 6%, 5%, 0.31);
//   --divider-color: #43474a;
//   --allpage-bottom-border-color: #2d3133;
//   --reference-item-bg: #212325;
//   --reference-item-border-radius: 6px;
//   --reference-item-border: 1px solid rgb(39, 42, 45);

//   --block-highlight: #353a40;
//   --block-highlight-bg: #34641f;

//   --popover-bg: #2c2e31;
//   --popover-font-color: #dcdedd;
//   --popover-border: 0.5px solid rgb(70, 73, 77);

//   --inline-search-bg: var(--theme-white-1);
//   --inline-search-border-radius: 6px;
//   --inline-search-border: 1px solid #46494d;
//   --inline-search-button-bg-color: var(--theme-white-1);

//   --datepicker-bg: var(--inline-search-bg);
//   --datepicker-day-wrapper: #36393c;
//   --datepicker-altfont-color: #545d63;

//   --search-font-color: var(--theme-gray-1);
//   --search-body-font-color: #dcdedd;
//   --search-outline: #1e6897;
//   --search-bg: var(--theme-white-1);
//   --search-border-radius: 3px;
//   --search-selected-row: #2c2d30;

//   --block-ref-bg: none;
//   --block-ref-hover: none;
//   --block-ref-hover-bg: #353a40;
//   --block-ref-border-bottom: #393d42;

//   /*--pages-row-highlight: ;*/
//   --pages-header-row: var(--theme-white-1);
//   --pages-mentions-level-bg: #3c96ff;
//   --pages-mentions-level1-bg: #3d71ff;
//   --pages-mentions-level2-bg: #3c50ff;
//   --pages-mentions-font-color: var(--theme-white-1);

//   --icon-color: #7d8386;
//   --icon-bg-hover: #dadfe61c;
//   --icon-color-hover: #dae0e4;
//   --minirightbar-icon-color: #454d52;
//   --pin-color: #ff6312;

//   /* MISC */

//   --kanban-board-bg: #212326;
//   --kanban-board-border: 1px solid #32343880;
//   --kanban-board-border-radius: 10px;
//   --kanban-column-bg: #272a2d;
//   --kanban-column-font-color: var(--main-font-color);
//   --kanban-column-margin: 4px 8px 0px 4px;
//   --kanban-card-bg: var(--theme-white-1);
//   --kanban-card-font-color: var(--main-font-color);
//   --kanban-card-border-radius: 4px;
//   --kanban-card-border: 1px solid #323539;

//   --table-border: 1px solid #565656;

//   --embed-container-bg: hsl(213, 9%, 20%);

//   --astrolabe-bg-color: hsl(210, 6%, 20%);

//   --hr-color: #434547;

//   --blockquote-font-color: #ebebeb;
//   --blockquote-border-color: #62a7f5;
//   --blockquote-bg: #1e2022;
//   --blockquote-cite: #ebebeb;

//   --encrypted-font-color: #034b9e;
//   --encrypted-bg: hsl(212, 14%, 15%);
//   --encrypted-font-size: 13px;
//   --encrypted-font-weight: 300;
//   --encrypted-border-radius: 4px;
//   --encrypted-padding: 2px 4px;

//   --select-bg-color: var(--theme-white-1);
//   --select-border-color: #3a3f44;

//   --emoji-bg: #1f2830;
//   --emoji-border: 0px solid none;
//   --emoji-color: none;

//   --pomo-bg: #312625;
//   --pomo-border: var(--divider-color);
//   --pomo-running-border: #862c26;
//   --pomo-running-font-color: #e5493e;
//   --pomo-break-bg: #20372d;
//   --pomo-break-border: #10764c;
//   --pomo-break-font-color: #0d7a4d;

//   --query-results-border: none;
//   --query-border: 1px solid #3e3b28a8;
//   --query-border-radius: 6px;
//   --query-padding-bottom: 16px;
//   --query-title-font-color: #d0b94482;
//   --query-title-bg: #3d381e8f;

//   /* Scrollbar settings - to disable set values to none */
//   --scrollbar-track: true;
//   /*--scrollbar-thumb: ;*/
// }

/* from better roam */

/*------------------------------------
# Class Selectors
------------------------------------*/
$rm-block-selector: ".rm-block, .roam-block, .roam-block-container";
