/*------------------------------------
#
# BLOCKS
#
------------------------------------*/
/* block highlights */
#{$rm-block-selector} {
  /* regular block */
  .rm-not-focused {
    @include block_regular;
  }
  /* focused block */
  .rm-focused {
    @include block_focused; /* i.e. when tyging inside */
    // maybe style highlight child blocks too?
    // & #{$rm-block-selector} {
    // child blocks

    // background: linear-gradient(
    //   to left,
    //   $palette--theme-darker 5%,
    //   $palette--accent-darker 30%,
    //   $background--block-highlight
    // );
  }

  /* selected block in main edit area */
  .block-highlight-blue {
    @include block_selected-main;
  }
  .block-highlight-blue {
    /* block selection */
    background-color: var(--block-highlight);
  }
  /* selected block in linked referenced */
  .block-highlight-yellow {
    /* block highlight */
    @include block_selected-linked;
  }
  .rm-embed-container {
    /* embed block highlight */
    @include block_selected-embed;
  }
}
:root {
  --block_indent-size: 25px;
}
.roam-block-container > .rm-block-children {
  margin: var(--block_indent-size);
}

/*------------------------------------
# Block Reference
------------------------------------*/
//todo
/*------------------------------------
# Block Embed
------------------------------------*/
//todo
/*** LAYOUT ***/
/*** TEXT ***/
/*** APPEARANCE ***/
/*** ANIMATIONS ***/
