/*------------------------------------
#
# BLOCKS
#
------------------------------------*/
/*------------------------------------
# layout
------------------------------------*/
.roam-block {
  min-height: unset;
  margin: 0px;
  padding: 0px;
}
.roam-block-container {
  margin: 5px 0px;
  max-width: 100%;
}

.rm-block-text,
.roam-block-text {
  max-width: 100%;
}

.rm-block__children:empty {
  display: none;
}
:root {
  --block_indent-size: 25px;
}
.roam-block-container > .rm-block-children {
  margin-left: var(--block_indent-size);
}
.rm-block__children,
.rm-block__children.rm-level-0 {
  margin-left: 0px; /* indent relative to page title */
}

.rm-inline-img {
  max-width: 60%;
  max-height: 50vh;
}

.rm-block-separator {
  display: none;
}

/*------------------------------------
# highlights
------------------------------------*/
/* block highlights */
#{$rm-block-selector} {
  /* regular block */
  .rm-not-focused {
    @include block_regular;
  }
  /* focused block */
  .rm-focused {
    @include block_focused; /* i.e. when tyging inside */
    // maybe style highlight child blocks too?
    // & #{$rm-block-selector} {
    // child blocks

    // background: linear-gradient(
    //   to left,
    //   $palette--theme-darker 5%,
    //   $palette--accent-darker 30%,
    //   $background--block-highlight
    // );
  }

  /* selected block in main edit area */
  .block-highlight-blue {
    @include block_selected-main;
  }
  .block-highlight-blue {
    /* block selection */
    background-color: var(--block-highlight);
  }
  /* selected block in linked referenced */
  .block-highlight-yellow {
    /* block highlight */
    @include block_selected-linked;
  }
  .rm-embed-container {
    /* embed block highlight */
    @include block_selected-embed;
  }
}

/*** from Better Roam Research ***/
#right-sidebar {
  border: none !important;
  transition: none !important;
  overflow: hidden !important;
  h1 {
    font-size: 18px !important;
  }
  #roam-right-sidebar-content {
    margin-left: -6px !important;
    > div[style] {
      border-bottom: 1px solid var(--subtle-border-color) !important;
    }
  }
  .hoverparent,
  .react-resizable {
    max-width: 100% !important;
    img {
      max-width: 100% !important;
    }
  }
  .rm-block-text {
    font-size: 14.5px !important;
  }
}

.rm-title-display,
.rm-title-textarea,
.roam-log-page h1.level2 {
  height: auto !important;
  line-height: 1.5 !important;
  font-size: 26px !important;
  font-weight: 600 !important;
}

.rm-heading-level-1 > .rm-block-main {
  span {
    margin-top: -2px !important;
  }
  div,
  textarea {
    font-size: 22px !important;
    line-height: 1.5 !important;
    font-weight: 600 !important;
  }
}

.rm-heading-level-2 > .rm-block-main {
  span {
    margin-top: -2px !important;
  }
  div,
  textarea {
    font-size: 20px !important;
    line-height: 1.5 !important;
    font-weight: 600 !important;
  }
}

.rm-heading-level-3 > .rm-block-main {
  span {
    margin-top: -1px !important;
  }
  div,
  textarea {
    font-size: 18px !important;
    line-height: 1.5 !important;
  }
}

.level2 {
  font-weight: inherit !important;
}

/*------------------------------------
# Block Reference
------------------------------------*/
//todo
/*------------------------------------
# Block Embed
------------------------------------*/
//todo
/*** LAYOUT ***/
/*** TEXT ***/
/*** APPEARANCE ***/
/*** ANIMATIONS ***/
