/*------------------------------------
#
# BASIC TYPOGRAPHY
#
------------------------------------*/
/*-------------------------
# FONTS
-------------------------*/
$font--fallback: Verdana, sans-serif;

@mixin TextDisplay {
  vertical-align: middle;
  line-height: 1.2em;
  margin: 0px !important;
  padding: 0px !important;
}

@mixin text_title($size) {
  font-family: "Ubuntu", $font--fallback !important;
  font-weight: 700 !important;
  font-size: $size !important;
  @include TextDisplay;
}

@mixin text_heading($size) {
  font-family: "Ubuntu", $font--fallback !important;
  font-weight: 700 !important;
  font-size: $size !important;
  @include TextDisplay;
}

@mixin text_body {
  font-family: "Ubuntu", $font--fallback !important;
  font-weight: 300 !important;
  color: $palette--black;
  font-size: 12px !important;
  @include TextDisplay;
}

@mixin text_italics {
  font-family: "Ubuntu", $font--fallback !important;
  font-weight: 400 !important;
  font-style: italic !important;
  @include TextDisplay();
  font-size: 15px;
  color: $palette--black;
}

@mixin text_bold {
  font-family: "Ubuntu", $font--fallback !important;
  font-weight: 700 !important;
  @include TextDisplay();
  font-size: 12px;
  color: $palette--black;
}

@mixin text_highlight {
  font-family: "Ubuntu", $font--fallback !important;
  background-color: $palette--accent;
  color: setContrast($palette--accent);
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 12px;
}

/* blockquote */
:root {
  --bg-quote: black;
  --fg-quote: white;
  --fnt-size-quote: 15px;
  --fnt-style-quote: normal;
}

@mixin blockquote {
  background-color: var(--bg-quote);
  color: var(--fg-quote);
  border-left: 5px solid var(--br-quote);
  font-size: var(--fnt-size-quote);
  font-style: var(--fnt-style-quote);
}

// checkboxes
@mixin checkbox_not-done {
  position: absolute;
  top: var(--checkmark-top);
  left: var(--checkmark-left);
  height: var(--checkmark-height);
  border-radius: var(--checkmark-border-radius);
  width: var(--checkmark-width);
  border: var(--checkmark-border);
  background-color: var(--checkmark-bg-color);
}
@mixin checkbox_done {
  position: absolute;
  top: var(--checkmark-top);
  left: var(--checkmark-left);
  height: var(--checkmark-height);
  border-radius: var(--checkmark-border-radius);
  width: var(--checkmark-width);
  border: var(--checkedmark-border);
  background-color: var(--checkedmark-bg-color);
}
@mixin checkbox_symbol {
  //debug
  left: 3.5px;
  top: 0.25px;
  width: 6px;
  height: 10px;
  border: var(--checkmark-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(40deg) scale(0.8);
}

/* page title */

.rm-title-display,
.rm-title-editing-diplay,
.rm-title-textarea,
h1.rm-title-editing-display {
  outline: none;
  color: $palette--black !important;
  @include text_title(36px);
}

/* headings */
.rm-heading-level-1,
.rm-heading-level-1 > .rm-block-main div,
.rm-heading-level-1 > .rm-block-main textarea {
  color: $palette--black;
  @include text_heading(30px);
}

.rm-heading-level-2,
.rm-heading-level-2 > .rm-block-main div,
.rm-heading-level-2 > .rm-block-main textarea {
  color: $palette--black;
  @include text_heading(25px);
}
.rm-heading-level-3,
.rm-heading-level-3 > .rm-block-main div,
.rm-heading-level-3 > .rm-block-main textarea {
  color: $palette--black;
  @include text_heading(20px);
}

/* main text */
#app {
  @include text_body;
}

/* bold text */
.rm-bold {
  @include text_bold;
}

/* italics text */
.rm-italics {
  @include text_italics;
}

/* highlighted text */
.rm_highlight {
  margin: 0px;
  @include text_highlight;
}

.rm-highlight .rm-page-ref-link-color {
  /* highlighted link color */
  color: var(--highlight-link-color); //TODO test this
}

/*------------------------------------
# BULLETS
------------------------------------*/
/* bullets */
@mixin bullet_open {
  //todo
}
@mixin bullet_closed {
  //todo
}
@mixin bullet_nestingline {
  //todo
}
@mixin bullet_toggle {
  //todo
  color: $palette--accent;
}

// .controls,
// .rm-block__controls {
//   padding: 0px;
// }
// .rm-bullet {
//   margin: 0px;
//   box-sizing: border-box;
// }
// .rm-bullet__inner {
//   box-sizing: content-box;
// }

// CENTER BULLET TO BLOCK TEXT
.roam-block-container .rm-block-main {
  align-items: center !important;
}
.controls {
  margin: 0px;
  padding: 0px;
}

.rm-bullet {
  &__inner {
    /* bullet */
    @include bullet_open;
  }
  &--closed {
    @include bullet_closed;
  }
  .block-border-left {
    /* nesting line */
    @include bullet_nestingline;
  }
}

// .rm-bullet__inner { /* bullet */
//   border-radius: 50%;
//   width: 5px;
//   height: 5px;
//   background-color: var(--bullet-color);
// }
// .rm-bullet.rm-bullet--closed .rm-bullet__inner { /* collapsed bullet */
//   border: 4px solid var(--bullet-closed-border-color);
// }
// .sidebar-content .rm-bullet.rm-bullet--closed .rm-bullet__inner { /* collapsed bullet's in right sidebar */
//   border: 4px solid var(--bullet-closed-border-color);
// }
// /* nest diagram line */
// .block-border-left {
//   border-left: var(--tree-vertline);
// }

/*------------------------------------
# CHECKBOX
------------------------------------*/
.checkmark {
  /* todo */
  @include checkbox_not-done;
}
.check-container input:checked ~ .checkmark {
  /* done */
  @include checkbox_done;
}
.check-container .checkmark:after {
  /* done check symbol */
  // DEBUG
  @include checkbox_symbol;
}

/* Fix textareas */
// todo
// .roam-block,
// textarea {
//   line-height: 1.5em;
//   min-height: 30px;
// }

// .rm-level1 .roam-block,
// .rm-level2 .roam-block,
// .rm-level3 .roam-block {
//   line-height: 1.5em;
// }

// .rm-level1,
// .rm-level2,
// .rm-level3,
// .rm-level1 textarea,
// .rm-level2 textarea,
// .rm-level3 textarea {
//   font-size: inherit;
//   line-height: 1.5em;
// }

/*------------------------------------
# Blockquotes
------------------------------------*/
//TODO test this
// blockquote {
//   font-size: 1.2em;
//   border-left: 3px solid var(--blockquote-border-color);
//   box-sizing: border-box;
//   color: var(--blockquote-font-color);
//   margin: 0px 0px 20px;
//   min-height: 0px;
//   min-width: 0px;
//   padding: 10px 20px;
//   background-color: var(--blockquote-bg);
//   text-align: justify;
//   text-justify: inter-word;
// }
// blockquote .small,
// blockquote footer,
// blockquote small {
//   display: block;
//   font-size: 80%;
//   line-height: 1.42857143;
//   color: var(--blockquote-cite);
// }
// .rm-bq {
//   /* MD blockquote color, thanks alok and d9ifxw3yev */
//   background-color: var(--codemirror-bg);
// }
.rm-bq {
  @include blockquote;
}
