/*------------------------------------
#
# BASIC TYPOGRAPHY
#
------------------------------------*/
/* page title */
.rm-title-display,
.rm-title-editing-diplay,
h1.rm-title-editing-display {
  @include text_title;
}
.rm-title-textarea {
  outline: none;
  @include text_title;
}

/* headings */
.rm-heading-level-1 {
  @include text_heading1;
}
.rm-heading-level-2 {
  @include text_heading2;
}
.rm-heading-level-3 {
  @include text_heading3;
}

/* main text */
#app {
  @include text_body;
}

/* bold text */
.rm-bold {
  @include text_bold;
}

/* italics text */
.rm-italics {
  @include text_italics;
}

/* highlighted text */
.rm_highlight {
  margin: 0px;
  @include text_highlight;
}

.rm-highlight .rm-page-ref-link-color {
  /* highlighted link color */
  color: var(--highlight-link-color); //TODO test this
}

/*------------------------------------
# BULLETS
------------------------------------*/
// .controls,
// .rm-block__controls {
//   padding: 0px;
// }
// .rm-bullet {
//   margin: 0px;
//   box-sizing: border-box;
// }
// .rm-bullet__inner {
//   box-sizing: content-box;
// }

.rm-bullet {
  &__inner {
    /* bullet */
    @include bullet_open;
  }
  &--closed {
    @include bullet_closed;
  }
  .block-border-left {
    /* nesting line */
    @include bullet_nestingline;
  }
}

// .rm-bullet__inner { /* bullet */
//   border-radius: 50%;
//   width: 5px;
//   height: 5px;
//   background-color: var(--bullet-color);
// }
// .rm-bullet.rm-bullet--closed .rm-bullet__inner { /* collapsed bullet */
//   border: 4px solid var(--bullet-closed-border-color);
// }
// .sidebar-content .rm-bullet.rm-bullet--closed .rm-bullet__inner { /* collapsed bullet's in right sidebar */
//   border: 4px solid var(--bullet-closed-border-color);
// }
// /* nest diagram line */
// .block-border-left {
//   border-left: var(--tree-vertline);
// }

/*------------------------------------
# CHECKBOX
------------------------------------*/
.checkmark {
  /* todo */
  @include checkbox_not-done;
}
.check-container input:checked ~ .checkmark {
  /* done */
  @include checkbox_done;
}
.check-container .checkmark:after {
  /* done check symbol */
  // DEBUG
  @include checkbox_symbol;
}

/* Fix textareas */
// todo
// .roam-block,
// textarea {
//   line-height: 1.5em;
//   min-height: 30px;
// }

// .rm-level1 .roam-block,
// .rm-level2 .roam-block,
// .rm-level3 .roam-block {
//   line-height: 1.5em;
// }

// .rm-level1,
// .rm-level2,
// .rm-level3,
// .rm-level1 textarea,
// .rm-level2 textarea,
// .rm-level3 textarea {
//   font-size: inherit;
//   line-height: 1.5em;
// }

/*------------------------------------
# Blockquotes
------------------------------------*/
//TODO test this
// blockquote {
//   font-size: 1.2em;
//   border-left: 3px solid var(--blockquote-border-color);
//   box-sizing: border-box;
//   color: var(--blockquote-font-color);
//   margin: 0px 0px 20px;
//   min-height: 0px;
//   min-width: 0px;
//   padding: 10px 20px;
//   background-color: var(--blockquote-bg);
//   text-align: justify;
//   text-justify: inter-word;
// }
// blockquote .small,
// blockquote footer,
// blockquote small {
//   display: block;
//   font-size: 80%;
//   line-height: 1.42857143;
//   color: var(--blockquote-cite);
// }
// .rm-bq {
//   /* MD blockquote color, thanks alok and d9ifxw3yev */
//   background-color: var(--codemirror-bg);
// }
.rm-bq {
  @include blockquote;
}
