/*------------------------------------
#
# BIDIRECTIONAL LINKING
#
------------------------------------*/
/*------------------------------------
# TAGS
------------------------------------*/
.rm-page-ref--tag {
  @include tags;
}
/*------------------------------------
# ATTRIBUTE
------------------------------------*/
.rm-attr-ref {
  @include attributes;
}
/*------------------------------------
# Page Links
------------------------------------*/
.rm-page-ref {
  &--link {
    /* linked page name text */
    @include page-links_text;
  }
  &__brackets {
    /* linked page brackes */
    @include page-links_brackets;
  }
}
/*------------------------------------
# Alias
------------------------------------*/
.rm-alias {
  & &--page {
    /* internally linked alias */
    @include alias_internal;
  }
  & &--external {
    /* externally linked alias */
    @include alias_external;
  }
}

/*------------------------------------
# Linked/Unlinked References
------------------------------------*/
//TODO

/* reference menu */
.rm-reference-main {
  @include linked-ref_menu;
}
/* linked references */
.rm-reference-item {
  background: $palette--accent-darker;
  color: setContrast($palette--accent-darker);
}

.rm-reference-container .flex-h-box > div:nth-child(3) strong {
  /* "Linked/Unlinked References" reference block header */
  color: var(--reference-header-color);
  border-bottom: 1px solid var(--reference-header-underline-color);
}
.flex-h-box strong[style*="color: rgb(206, 217, 224);"] {
  /* "Linked/Unlinked References" reference block header */
  color: var(--reference-header-color) !important;
  border-bottom: 1px solid var(--reference-header-underline-color);
}
#right-sidebar .flex-h-box > div:nth-child(2) strong {
  /* Right sidebar bold links color */
  color: var(--main-font-color);
}
.rm-reference-item {
  /* footer reference box apperance */

  background-color: var(--reference-item-bg);
  border-radius: var(--reference-item-border-radius);
  border: var(--reference-item-border);
}
