/*------------------------------------
# ICONS
------------------------------------*/
:root {
  --icon-size-outer: 24px;
  --icon-size-inner: 16px;
}

@mixin icons {
  // todo make dynamic for topbar / left side
  height: var(--icon-size-outer);
  width: var(--icon-size-outer);
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 3px;
  place-self: center;
}

/*------------------------------------
# Left Bar
------------------------------------*/
.roam-sidebar-container {
  & &:hover .bp3-icon-menu-close {
    opacity: 1;
  }
}

/* caret */
.rm-caret {
}

/*------------------------------------
# TOPBAR
------------------------------------*/
.roam-topbar {
  /*** LAYOUT ***/
  [class*="bp3-icon"]:not(.bp3-icon-search):not(.bp3-icon-filter) {
    padding: 0px !important;
    margin: 0px !important;
  }
  .rm-find-or-create-wrapper {
    flex: 0 0 24px !important;
    input {
      border-radius: 3px !important;
      padding: 0px !important;
      width: 24px !important;
      height: 24px !important;
      cursor: pointer;
    }
    .bp3-icon-search {
      padding: 4px !important;
      border-radius: 3px;
      margin: 0 !important;
      cursor: pointer;
      pointer-events: none;
    }
  }
  .bp3-icon-filter {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    &:before {
      position: absolute !important;
      margin: 5px;
      margin-top: 6px;
    }
  }

  /*** APPEARANCE ***/
  // .bp3-button .bp3-icon:first-child:last-child {
  //   margin: 0px !important;
  // }
  > .flex-h-box > div,
  > .flex-h-box > span {
    margin: 5px;
  }
  // > .flex-h-box div,
  // > .flex-h-box span {
  .bp3-button {
    height: 24px;
    width: 24px;
  }
  [class*="bp3-icon"] {
    background: red;
    &:before {
      color: white;
    }
  }
}
