/*------------------------------------
# ICONS
------------------------------------*/
:root {
  --icon-size-outer: 24px;
  --icon-size-inner: 16px;
}

@mixin icons {
  // todo make dynamic for topbar / left side
  height: var(--icon-size-outer);
  width: var(--icon-size-outer);
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 3px;
  place-self: center;
}

/*------------------------------------
# Left Bar
------------------------------------*/
.roam-sidebar-container {
  & &:hover .bp3-icon-menu-close {
    opacity: 1;
  }
}

/* caret */
.rm-caret {
}

/*------------------------------------
# TOPBAR
------------------------------------*/
/*------------------------------------
# ICONS
------------------------------------*/
:root {
  --icon-size-outer: 24px;
  --icon-size-inner: 16px;
}

/*------------------------------------
# Left Bar
------------------------------------*/
.roam-sidebar-container .roam-sidebar-container:hover .bp3-icon-menu-close {
  opacity: 1;
}

/* caret */
/*------------------------------------
# TOPBAR
------------------------------------*/
.roam-topbar [class*="bp3-icon"]:not(.bp3-icon-search):not(.bp3-icon-filter) {
  padding: 0px !important;
  margin: 0px !important;
}
.roam-topbar .rm-find-or-create-wrapper {
  flex: 0 0 24px !important;
}
.roam-topbar .rm-find-or-create-wrapper input::placeholder {
  color: transparent;
}
.roam-topbar .rm-find-or-create-wrapper input {
  background: red;
  border-radius: 3px !important;
  padding: 3px !important;
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;
}
.roam-topbar.rm-find-or-create-wrapperinput: hover {
  background: blue;
}
.roam-topbar .rm-find-or-create-wrapper .bp3-icon-search {
  padding: 4px !important;
  border-radius: 3px;
  margin: 0 !important;
  pointer-events: none;
}
.roam-topbar .bp3-icon-filter {
  width: 24px;
  height: 24px;
  border-radius: 3px;
}
.roam-topbar .bp3-icon-filter:before {
  position: absolute !important;
  margin: 5px;
  margin-top: 6px;
}
.roam-topbar > .flex-h-box > div,
.roam-topbar > .flex-h-box > span {
  margin: 5px;
}
.roam-topbar .bp3-button {
  height: 24px;
  width: 24px;
}
.roam-topbar [class*="bp3-icon"]:not(.bp3-icon-search) {
  background: red;
}
.roam-topbar [class*="bp3-icon"]:before {
  color: white;
}
.roam-topbar [class*="bp3-icon"]:hover {
  background: blue;
}
