/*------------------------------------
#
# BASIC TYPOGRAPHY
#
------------------------------------*/
@mixin TextDisplay {
  // line-height: 1;
  margin: 0px;
  // margin-top: 2px;
}

/* page title */
.rm-title-display {
  font-size: 36px;
  color: $textcolor--title !important;
  @include TextDisplay;
}

/* headings */
.rm-heading-level-1 {
  color: $textcolor--heading1;
  font-size: 30px;
  @include TextDisplay;
}
.rm-heading-level-2 {
  color: $textcolor--heading2;
  font-size: 25px;
  @include TextDisplay;
}
.rm-heading-level-3 {
  color: $textcolor--heading3;
  font-size: 20px;
  @include TextDisplay;
}

/* main text */
*,
#{$rm-block-selector} {
  color: $textcolor--body;
  font-size: 12px;
  @include TextDisplay;
}
.rm-bold {
  font-size: 12px;
  color: $textcolor--bold;
  @include TextDisplay;
}

.rm-italics {
  font-size: 15px;
  color: $textcolor--italics;
  @include TextDisplay;
}
.rm_highlight {
  background-color: $textcolor--highlight;
  padding: $text_highlight-padding;
}

.rm-highlight {
  /* text highlighting */
  background-color: var(--highlight-background-color);
  color: var(--highlight-font-color);
  border-radius: 0px;
  padding: var(--highlight-padding);
}
.rm-highlight .rm-page-ref-link-color {
  /* highlighted link color */
  color: var(--highlight-link-color);
}

/*------------------------------------
# BULLETS & TOGGLES
------------------------------------*/
/* bullets */
@mixin bullet_open {
}
@mixin bullet_closed {
}
@mixin bullet_nestingline {
}

.rm-bullet {
  &__inner {
    /* bullet */
    @include bullet_open;
  }
  .block-border-left {
    /* nesting line */
    @include bullet_nestingline;
  }
}
/* caret */
.rm-caret {
  color: #b2b5ba;
}

/*------------------------------------
# CHECKBOX
------------------------------------*/
// TODO @include not-done-checkbox
// TODO @include done-checkbox

// checkboxes
@mixin not-done-checkbox {
}
@mixin done-checkbox {
}

.checkmark {
  /* todo */
  position: absolute;
  top: var(--checkmark-top);
  left: var(--checkmark-left);
  height: var(--checkmark-height);
  border-radius: var(--checkmark-border-radius);
  width: var(--checkmark-width);
  border: var(--checkmark-border);
  background-color: var(--checkmark-bg-color);
}
.check-container input:checked ~ .checkmark {
  /* done */
  position: absolute;
  top: var(--checkmark-top);
  left: var(--checkmark-left);
  height: var(--checkmark-height);
  border-radius: var(--checkmark-border-radius);
  width: var(--checkmark-width);
  border: var(--checkedmark-border);
  background-color: var(--checkedmark-bg-color);
}
.check-container .checkmark:after {
  /* done check symbol */
  left: 3.5px;
  top: 0.25px;
  width: 6px;
  height: 10px;
  border: var(--checkmark-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(40deg) scale(0.8);
}

/* Fix textareas */
.roam-block,
textarea {
  line-height: 1.5em;
  min-height: 30px;
}

.rm-level1 .roam-block,
.rm-level2 .roam-block,
.rm-level3 .roam-block {
  line-height: 1.5em;
}

.rm-level1,
.rm-level2,
.rm-level3,
.rm-level1 textarea,
.rm-level2 textarea,
.rm-level3 textarea {
  font-size: inherit;
  line-height: 1.5em;
}

/*------------------------------------
# Blockquotes
------------------------------------*/
:root {
  --bg-quote: black;
  --fg-quote: white;
  --fnt-size-quote: 15px;
  --fnt-style-quote: normal;
}

@mixin blockquote {
  background-color: var(--bg-quote);
  color: var(--fg-quote);
  border-left: 5px solid var(--br-quote);
  font-size: var(--fnt-size-quote);
  font-style: var(--fnt-style-quote);
}
blockquote {
  font-size: 1.2em;
  border-left: 3px solid var(--blockquote-border-color);
  box-sizing: border-box;
  color: var(--blockquote-font-color);
  margin: 0px 0px 20px;
  min-height: 0px;
  min-width: 0px;
  padding: 10px 20px;
  background-color: var(--blockquote-bg);
  text-align: justify;
  text-justify: inter-word;
}
blockquote .small,
blockquote footer,
blockquote small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: var(--blockquote-cite);
}
.rm-bq {
  /* MD blockquote color, thanks alok and d9ifxw3yev */
  background-color: var(--codemirror-bg);
}
.rm-bq {
  @include blockquote;
}
