/*---------------------------------- 
# ALL PAGES
------------------------------------*/
.rm-all-pages .table .rm-pages-row.rm-pages-row-header {
  background: $main_bg !important;
}

#all-pages-search.rm-all-pages {
  .bp3-input.bp3-round.bp3-minimal.search-input {
    /* search input bg color */
    background-color: transparent;
    //todo add border?
  }

  /* table header */
  #rm-all-pages-column-titles.rm-pages-row-header {
    background: $allpages_title-bg;
    color: $allpages_title-text;
  }
  .sorted-header-text {
    color: $allpages_title-text; //todo make special, adjust hue?
  }
  .sorting-button-group .sort-button.focused {
    /* current sort carret color */
    color: $allpages_title-text;
  }

  a.rm-pages-title-text,
  .table .rm-pages-row .rm-pages-col {
    /* general ext color */
    color: $main_text-color;
  }

  .table .rm-pages-row {
    /* row dividers */
    border-bottom: $allpages_row-divider;
  }

  .bp3-control.bp3-checkbox .bp3-control-indicator {
    /* unchecked checkbox bg color */
    background: $checkbox_bg-notdone;
    border: none;
  }
  .bp3-control input:checked ~ .bp3-control-indicator {
    /* checked appearance */
    background: $checkbox_bg-done;
  }

  .rm-clickable-pill {
    /* mentions count bubble */
    opacity: 1;
    background-color: $allpages_mentions-bg;
    color: $allpages_mentions-text;
  }

  // buttons & icons
  .bp3-button.bp3-minimal {
    &:before {
      color: $icons_color;
      background: transparent;
    }
  }
  .bp3-icon-search:before {
    color: white !important; //TODO
  }

  .bp3-button.bp3-minimal {
    min-width: 16px !important;
    min-height: 16px !important;
    height: 24px;
    width: 24px;
    opacity: 1;
    margin: 0px 2px;
    border-radius: 3px;
    transition: none;

    background: $icons_bg !important;
    &:before {
      color: setContrast($icons_bg) !important;
    }
    &:hover {
      background: $icons_bg-hover !important;
      &:before {
        color: setContrast($icons_bg-hover) !important;
      }
    }
  }
}
