/*------------------------------------
# RESET SITE SETTINGS
------------------------------------*/
*:not(html):not(body) {
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 1.2em;
}
*:not(html):not(body):not([class*=bp3-icon]) {
  font-family: "Ubuntu", monospace;
}
*:not(html):not(body):not(.roam-topbar[class*=bp3]):not([class*=CodeMirror]) {
  max-height: 100%;
  max-width: 100%;
}
*:not(html):not(body) span {
  color: inherit !important;
}

/*------------------------------------
# Workspace Layout
------------------------------------*/
#app .roam-body .roam-app {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  opacity: 1;
}
#app .roam-body .roam-app > div:only-child:not(.roam-sidebar-container) {
  margin-left: 0 !important;
}
#app .roam-body .roam-app > .roam-sidebar-container,
#app .roam-body .roam-app > .roam-sidebar-container > .roam-sidebar-content {
  width: var(--leftbar_width);
}
#app .roam-body .roam-app > div.flex-h-box[style*=margin-left] {
  margin-left: var(--leftbar_width) !important;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-topbar {
  height: var(--topbar_height);
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main {
  overflow: hidden scroll;
  padding: var(--editor-margin);
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main > div:first-child {
  padding: 0px !important;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main > div:first-child > .roam-log-container,
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main > div:first-child > .roam-article {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main > #buffer {
  visibility: hidden;
}
.roam-block-container {
  max-width: 100%;
}

/*------------------------------------
# Workspace Appearance
------------------------------------*/
#app .roam-body .roam-app {
  background: var(--bg-main-color);
}
#app .roam-body .roam-app > .roam-sidebar-container,
#app .roam-body .roam-app > .roam-sidebar-container > .roam-sidebar-content {
  background: var(--bg--left) !important;
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-topbar {
  background: var(--bg-main-color);
}
#app .roam-body .roam-app > div.flex-h-box > .roam-main > .roam-body-main {
  background: var(--bg-main-color);
}
#app .roam-body .roam-app > div.flex-h-box > #right-sidebar {
  background: var(--bg--right);
}
