@charset "UTF-8";
span.rm-page-ref[data-tag=idea] {
  border-radius: 5px;
  border: 0.8px solid #6A4E0A30;
  padding: 1px 3px;
  font-weight: 500;
  line-height: 1.4em;
  color: #fff !important;
  background: #FCB815AA !important;
}

span.rm-page-ref:hover[data-tag=idea] {
  color: #FCB815 !important;
  background: #FCB81510 !important;
}

span.rm-page-ref[data-tag=idea]:before {
  content: "✦ ";
}

span.rm-page-ref[data-tag=project] {
  border: 0.2px solid #4A3C3C50;
  border-radius: 6px;
  color: #fff !important;
  background: #08979d;
  padding: 1px 2px 2px;
  font-weight: 500;
  line-height: 1.4em;
}

span.rm-page-ref:hover[data-tag=project] {
  border: 1px solid #4A3C3C;
  background: #0DBAC6 !important;
}
