/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
.roam-main {
  background: $background--main;
}
.roam-topbar {
  background: $background--topbar;
}

/*--------------------------------------------------------------
# Popups
--------------------------------------------------------------*/
.bp3-popover {
  color: $palette--theme; // popup title colors
}
